In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("records").getOrCreate()

25/03/03 09:27:53 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
# Get list of databases
databases = spark.sql("SHOW DATABASES")
databases.show()

+---------+
|namespace|
+---------+
|      nyc|
+---------+

In [3]:
# Get list of tables in the 'nyc' database
tables = spark.sql("SHOW TABLES IN nyc")
tables.show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|      nyc|           taxis_100|      false|
|      nyc|     taxis_100M_time|      false|
|      nyc|taxis_1000_50COLUMNS|      false|
|      nyc|            taxis_1B|      false|
|      nyc|taxis_100_50COLUM...|      false|
|      nyc|taxis_100000_50CO...|      false|
|      nyc|            taxis_1L|      false|
|      nyc|          taxis_1000|      false|
|      nyc|            taxis_10|      false|
|      nyc|   taxis_1L_5COLUMNS|      false|
|      nyc|         taxis_10000|      false|
|      nyc|            taxis_1M|      false|
|      nyc|          taxis_1L_5|      false|
|      nyc|          taxis_10_M|      false|
|      nyc|taxis_1000_50COLU...|      false|
|      nyc|  taxis_10_50COLUMNS|      false|
|      nyc|           taxis_10K|      false|
|      nyc|            taxis_1K|      false|
|      nyc|           taxis_10L|      false|
|      nyc|        taxis_5_100M|      false|
+---------+--------------------+-----------+
only showing top 20 rows

In [4]:
# import time

# # Start the timer
# start_time = time.time()

# # Execute the SQL query
# df = spark.sql("SELECT COUNT(*) FROM nyc.taxis_1000_50_product")

# # Stop the timer
# end_time = time.time()

# # Show the result
# df.show()

# # Print the time taken for the query
# print(f"Time taken for the query: {end_time - start_time} seconds")

In [5]:
# import pandas as pd

# # Assuming you have the result of a query stored in a Spark DataFrame `df`
# df = spark.sql("SELECT * FROM nyc.taxis_10000_50COLUMNS")

# # Convert the Spark DataFrame to Pandas
# df_pandas = df.toPandas()

# # Function to get distinct types of values in a column
# def get_distinct_types(column):
#     return column.apply(type).nunique()

# # Create an empty DataFrame to store results
# distinct_types_df = pd.DataFrame(columns=['column_name', 'distinct_types'])

# # List to hold the rows
# rows = []

# # Iterate through each column and get the count of distinct types
# for column in df_pandas.columns:
#     rows.append({
#         'column_name': column,
#         'distinct_types': get_distinct_types(df_pandas[column])
#     })

# # Create a new DataFrame using pd.concat
# distinct_types_df = pd.concat([distinct_types_df, pd.DataFrame(rows)], ignore_index=True)

# # Show the result
# print(distinct_types_df)

In [6]:
# df = spark.sql("SELECT COUNT(distinct(extra_col_0)) FROM nyc.taxis_10000_50COLUMNS")
# df.show()

In [23]:
# df_pandas.to_csv('C:\\Users\\DataEngg\\Downloads\\Nexus-Data-Iceberg-main\\data_10000.csv', index=False)

In [7]:
# # Convert the Spark DataFrame to Pandas
# df_pandas = df.toPandas()

# # Save the Pandas DataFrame to a CSV file
# df_pandas.to_csv('C:\\Users\\DataEngg\\Downloads\\Nexus-Data-Iceberg-main\\data_10000.csv', index=False)  # Update the path as needed

In [8]:
# df = spark.sql("SELECT * FROM nyc.taxis_1000_50_product")
# df.show()

In [9]:
# df.write.option("header", "true").csv('file:///C:/Users/DataEngg/Downloads/Nexus-Data-Iceberg-main/data_10000.csv')

In [10]:
# # Specify the path to your S3 bucket (make sure the bucket exists)
# s3_path = "s3://prateek-iceberg-tables/iceberg_warehouse/data_10000.csv"

# # Save the DataFrame to S3 in CSV format
# df.write.csv(s3_path, header=True)

In [21]:
import time

# Start the timer
start_time = time.time()

# Define the complex SQL query for 'nyc.taxis_10000_50COLUMNS'
query = """
SELECT
DATE_FORMAT(extra_col_3, 'MM'), SUM(extra_col_1) AS sum_col_1  
FROM demo.nyc.taxis_100M_50
GROUP BY DATE_FORMAT(extra_col_3, 'MM')
ORDER BY DATE_FORMAT(extra_col_3, 'MM')
"""

# Execute the SQL query
df = spark.sql(query)

# Stop the timer
end_time = time.time()

# Show the result
df.show(truncate=False)

# Print the time taken for the query
print(f"Time taken for the query: {end_time - start_time} seconds")

+----------------------------+-----------+
|date_format(extra_col_3, MM)|sum_col_1  |
+----------------------------+-----------+
|01                          |42464838147|
|02                          |38480956991|
|03                          |42470434072|
|04                          |41071229725|
|05                          |42484840243|
|06                          |41062517711|
|07                          |42463345310|
|08                          |42464213526|
|09                          |41070790408|
|10                          |42443178586|
|11                          |41084725354|
|12                          |42485051080|
+----------------------------+-----------+

Time taken for the query: 1.3060219287872314 seconds

In [96]:
# #sample aggregated select query to get count in 

# import time

# # Start the timer
# start_time = time.time()

# # Define the complex SQL query for 'nyc.taxis_10000_50COLUMNS'
# query = """
# SELECT
#     extra_col_0,  -- Example: Grouping by 'extra_col_0'
#     COUNT(*) AS total_records,  -- Count the number of records in each group
#     SUM(extra_col_1) AS sum_col_1,  -- Sum of values in 'extra_col_1'
#     MAX(extra_col_3) AS max_col_3,  -- Maximum value in 'extra_col_3'
#     MIN(extra_col_4) AS min_col_4  -- Minimum value in 'extra_col_4'
# FROM
#     nyc.taxis_1000_50COLUMNS
# GROUP BY
#     extra_col_0  -- Grouping by 'extra_col_0'
# ORDER BY
#     total_records DESC  -- Ordering the result by the total number of records in descending order
# LIMIT 100;  -- Limiting the result to the top 100 rows
# """

# # Execute the SQL query
# df = spark.sql(query)

# # Stop the timer
# end_time = time.time()

# # Show the result
# df.show(truncate=False)

# # Print the time taken for the query
# print(f"Time taken for the query: {end_time - start_time} seconds")

In [86]:
import time

# Start the timer
start_time = time.time()

# Define the complex SQL query for 'nyc.taxis_10M_50COLUMNS'
query = """
SELECT
    extra_col_0,
    COUNT(*) AS total_records,
    SUM(extra_col_1) AS sum_col_1,
    MAX(extra_col_3) AS max_col_3,
    MIN(extra_col_4) AS min_col_4
FROM
    nyc.taxis_100M_50
GROUP BY
    extra_col_0
ORDER BY
    total_records DESC
LIMIT 100;
"""

# Execute the SQL query
df = spark.sql(query)

# Force computation of the result (avoid serving from cache)
df.count()

# Stop the timer
end_time = time.time()

# Show the result
df.show(truncate=False)

# Print the time taken for the query
print(f"Time taken for the query: {end_time - start_time} seconds")

+-----------+-------------+---------+----------+----------+
|extra_col_0|total_records|sum_col_1|max_col_3 |min_col_4 |
+-----------+-------------+---------+----------+----------+
|RCIJEGKQQO |2            |3444     |2020-03-29|NXWCIYAFLF|
|SMUDUCNHCT |2            |16336    |2022-10-11|CQMJGSKEZZ|
|EUIOKRIGYF |2            |9926     |2022-03-07|BRMOUOELYE|
|RDWYAFOQUW |2            |12513    |2021-12-31|GZZRGUFYVI|
|UGAGJBJLIB |2            |6489     |2019-09-26|AIBYEXPLRZ|
|KGNDQROJZX |2            |12822    |2019-06-04|CAHSZYJWYP|
|GOOOVIDFGP |2            |14710    |2021-02-26|GYOPMFYNLV|
|RETMZYNKUO |2            |10944    |2020-11-17|EFPIIMLRCR|
|AMDDDTEZPF |2            |9843     |2020-03-18|AMKDMLVQVV|
|VHXDXXSWNE |2            |5331     |2020-07-17|FQTKMUQOAC|
|HTISVAKSHI |2            |1261     |2020-01-26|FMOYZOUVOY|
|EVDENFQWBQ |2            |4469     |2019-12-11|QYSBWCVDAX|
|PTBXGFHCBV |2            |10863    |2024-04-03|PLJVRZFGYS|
|ONONAPKYZK |2            |16500    |2021-08-18|KPMAKSRUGF|
|YRTDFLPYJG |2            |11245    |2022-11-25|DCBHJOKFBB|
|CDPPMMHQRK |2            |9798     |2020-01-03|CDYVFFYGTB|
|FXDTOMAIBI |2            |6541     |2017-10-07|TTQUZGYLVD|
|HBHVYJGRFY |2            |7971     |2022-12-06|CYHWNQRUSH|
|PBIASHQEUW |2            |17516    |2021-09-27|KEVVVWQKZW|
|OZMJDVSWWD |2            |7647     |2024-08-16|URZZSGLEHU|
+-----------+-------------+---------+----------+----------+
only showing top 20 rows

Time taken for the query: 603.3699321746826 seconds

In [87]:
import time

# Start the timer (this will capture the total time for the query execution, including the join operation)
start_time = time.time()

# Define the SQL query for performing the JOIN operation on 'extra_col_0'
query = """
SELECT
    a.extra_col_0,  -- extra_col_0 from the first table (nyc.taxis_1000_50COLUMNS)
    a.extra_col_1,  -- Example of another column from the first table
    b.extra_col_1 AS extra_col_1_b,  -- Example of another column from the second table
    a.extra_col_2,  -- Example column from the first table
    b.extra_col_2 AS extra_col_2_b   -- Example column from the second table
FROM
    nyc.taxis_100M_50 a
LEFT JOIN
    nyc.taxis_10M_50COLUMNS b
ON
    a.extra_col_0 = b.extra_col_0  -- Join condition on extra_col_0
"""

# Execute the SQL query and trigger the action (this will start the query execution)
df = spark.sql(query)

# Show the result (this forces Spark to execute the query and perform the join)
df.show(truncate=False)

# Stop the timer after the query execution is done
end_time = time.time()

# Calculate the total time taken for the query execution, including the join
total_time = end_time - start_time

# Print the total time taken for the query execution (including join)
print(f"Total time taken for the query execution (including join operation): {total_time} seconds")

+-----------+-----------+-------------+---------------+-------------+
|extra_col_0|extra_col_1|extra_col_1_b|extra_col_2    |extra_col_2_b|
+-----------+-----------+-------------+---------------+-------------+
|AAPXCANGJC |2607       |NULL         |KWXFMTFSUFGQDRC|NULL         |
|ACLYVVNHAM |3574       |NULL         |KOUXEDRNYIFNLMA|NULL         |
|ACMEHLUEHE |8526       |NULL         |FVBLYYCVPEVZJOH|NULL         |
|ADUUGUCIKL |6903       |NULL         |SSKMTUWVWWLQNDY|NULL         |
|AEOUKLHQTM |5679       |NULL         |WVBQSPSXCQVGURS|NULL         |
|AERPSIJJJK |208        |NULL         |WWAUPACXKIYSFUR|NULL         |
|AFEBQHPGLS |9307       |NULL         |UWPRLTUVPYISDRM|NULL         |
|AGBIVJGVEX |5032       |NULL         |BWAFAKSIGPFOCLC|NULL         |
|AGRMKBQETQ |8163       |NULL         |ANLYSOGFEMXXPPK|NULL         |
|AGSYDJYBSB |136        |NULL         |QRJABQIQGBZKKYI|NULL         |
|AHNHHPDVSU |3412       |NULL         |ETYPJLDYZVEUETQ|NULL         |
|AINJPMQFIJ |1711       |NULL         |IIDXRSSRUJKLVGY|NULL         |
|AIPVQRJQOR |132        |NULL         |LKCDMSZZKOMTLGJ|NULL         |
|AMHXFWXNQC |7945       |NULL         |SCGHFQNTJWYHNOB|NULL         |
|AOFMLVGAGD |786        |NULL         |LEMILKNQXVLXZQD|NULL         |
|AOIPVXXXND |4686       |NULL         |QVIKWSBATJIOXFY|NULL         |
|AOJAKXMTBU |4011       |NULL         |OCCTDNPMZLLKKWL|NULL         |
|APKJBAGNXP |5852       |NULL         |ZJYRUAKTXAWUKMX|NULL         |
|AQIUISKSHJ |3284       |NULL         |LOBOONGHULZMELS|NULL         |
|AQWWZKAIBJ |1950       |NULL         |UHYUSWEXLPPIGHN|NULL         |
+-----------+-----------+-------------+---------------+-------------+
only showing top 20 rows

Total time taken for the query execution (including join operation): 73.63867974281311 seconds