In [88]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("records").getOrCreate()

In [89]:
# Get list of databases
databases = spark.sql("SHOW DATABASES")
databases.show()

+---------+
|namespace|
+---------+
|      nyc|
+---------+

In [90]:
# Get list of tables in the 'nyc' database
tables = spark.sql("SHOW TABLES IN nyc")
tables.show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|      nyc|           taxis_100|      false|
|      nyc|     taxis_100M_time|      false|
|      nyc|taxis_1000_50COLUMNS|      false|
|      nyc|            taxis_1B|      false|
|      nyc|taxis_100_50COLUM...|      false|
|      nyc|taxis_100000_50CO...|      false|
|      nyc|            taxis_1L|      false|
|      nyc|          taxis_1000|      false|
|      nyc|            taxis_10|      false|
|      nyc|   taxis_1L_5COLUMNS|      false|
|      nyc|         taxis_10000|      false|
|      nyc|            taxis_1M|      false|
|      nyc|          taxis_1L_5|      false|
|      nyc|          taxis_10_M|      false|
|      nyc|taxis_1000_50COLU...|      false|
|      nyc|  taxis_10_50COLUMNS|      false|
|      nyc|           taxis_10K|      false|
|      nyc|            taxis_1K|      false|
|      nyc|           taxis_10L|      false|
|      nyc|        taxis_5_100M|      false|
+---------+--------------------+-----------+
only showing top 20 rows

In [95]:
import time

# Start the timer
start_time = time.time()

# Execute the SQL query
df = spark.sql("SELECT COUNT(*) FROM nyc.taxis_1000_50_product")

# Stop the timer
end_time = time.time()

# Show the result
df.show()

# Print the time taken for the query
print(f"Time taken for the query: {end_time - start_time} seconds")

+--------+
|count(1)|
+--------+
|    2000|
+--------+

Time taken for the query: 0.012794017791748047 seconds

In [19]:
import pandas as pd

# Assuming you have the result of a query stored in a Spark DataFrame `df`
df = spark.sql("SELECT * FROM nyc.taxis_10000_50COLUMNS")

# Convert the Spark DataFrame to Pandas
df_pandas = df.toPandas()

# Function to get distinct types of values in a column
def get_distinct_types(column):
    return column.apply(type).nunique()

# Create an empty DataFrame to store results
distinct_types_df = pd.DataFrame(columns=['column_name', 'distinct_types'])

# List to hold the rows
rows = []

# Iterate through each column and get the count of distinct types
for column in df_pandas.columns:
    rows.append({
        'column_name': column,
        'distinct_types': get_distinct_types(df_pandas[column])
    })

# Create a new DataFrame using pd.concat
distinct_types_df = pd.concat([distinct_types_df, pd.DataFrame(rows)], ignore_index=True)

# Show the result
print(distinct_types_df)

     column_name distinct_types
0    extra_col_0              1
1    extra_col_1              1
2    extra_col_2              1
3    extra_col_3              1
4    extra_col_4              1
5    extra_col_5              1
6    extra_col_6              1
7    extra_col_7              1
8    extra_col_8              1
9    extra_col_9              1
10  extra_col_10              1
11  extra_col_11              1
12  extra_col_12              1
13  extra_col_13              1
14  extra_col_14              1
15  extra_col_15              1
16  extra_col_16              1
17  extra_col_17              1
18  extra_col_18              1
19  extra_col_19              1
20  extra_col_20              1
21  extra_col_21              1
22  extra_col_22              1
23  extra_col_23              1
24  extra_col_24              1
25  extra_col_25              1
26  extra_col_26              1
27  extra_col_27              1
28  extra_col_28              1
29  extra_col_29              1
30  extra_col_30              1
31  extra_col_31              1
32  extra_col_32              1
33  extra_col_33              1
34  extra_col_34              1
35  extra_col_35              1
36  extra_col_36              1
37  extra_col_37              1
38  extra_col_38              1
39  extra_col_39              1
40  extra_col_40              1
41  extra_col_41              1
42  extra_col_42              1
43  extra_col_43              1
44  extra_col_44              1
45  extra_col_45              1
46  extra_col_46              1
47  extra_col_47              1
48  extra_col_48              1
49  extra_col_49              1

In [18]:
# df = spark.sql("SELECT COUNT(distinct(extra_col_0)) FROM nyc.taxis_10000_50COLUMNS")
# df.show()

+---------------------------+
|count(DISTINCT extra_col_0)|
+---------------------------+
|                      10000|
+---------------------------+

In [23]:
# df_pandas.to_csv('C:\\Users\\DataEngg\\Downloads\\Nexus-Data-Iceberg-main\\data_10000.csv', index=False)

In [33]:
# Convert the Spark DataFrame to Pandas
df_pandas = df.toPandas()

# Save the Pandas DataFrame to a CSV file
df_pandas.to_csv('C:\\Users\\DataEngg\\Downloads\\Nexus-Data-Iceberg-main\\data_10000.csv', index=False)  # Update the path as needed

In [94]:
df = spark.sql("SELECT * FROM nyc.taxis_1000_50_product")
df.show()

+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
|extra_col_0|extra_col_1|extra_col_2|extra_col_3|extra_col_4|extra_col_5|extra_col_6|extra_col_7|extra_col_8|extra_col_9|extra_col_10|extra_col_11|extra_col_12|extra_col_13|extra_col_14|extra_col_15|extra_col_16|extra_col_17|extra_col_18|extra_col_19|extra_col_20|extra_col_21|extra_col_22|extra_col_23|extra_col_24|extra_col_25|extra_col_26|extra_col_27|extra_col_28|extra_col_29|extra_col_30|extra_col_31|extra_col_32|extra_col_33|extra_col_34|extra_col_35|extra_col_36|extra_col_37|extra_col_38|extra_col_39|extra_col_40|extra_col_41|extra_col_42|extra_col_43|extra_col_44|extra_col_45|extra_col_46|extra_col_47|extra_col_48|extra_col_49|
+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
| IAAQUJSTXF|       6145|         CV| 2021-03-01| GFYECLZRSY|       5912|        CAR| 2022-07-01| TDXNPKKKXX|       4741|          CV|  2021-05-01|  USEVJZNVCO|        8258|          TW|  2025-02-01|  AGAEZIJLZZ|        7529|         CAR|  2020-02-01|  DYVNIFJLBV|        8542|          CV|  2022-03-01|  NLVPKWWNRC|        1292|         CAR|  2020-07-01|  YUZNFRDMFP|        3270|          CV|  2024-10-01|  SXQUQXSKER|        4223|          CV|  2023-10-01|  SPSLDVEZAX|         559|          TW|  2020-10-01|  HNFQEGDZQX|        6753|         CAR|  2023-01-01|  GQSGZDOBQR|        5594|         CAR|  2025-02-01|  VVFRXXUIEW|        6771|
| KOSZJDYQVT|       8988|         CV| 2023-09-01| AZAYQQTSAA|       9549|         CV| 2021-11-01| XEAAXSIDZJ|       3433|          TW|  2020-10-01|  QIQFVITTTL|        8977|         CAR|  2023-11-01|  HLGFFVDMSU|        2276|         CAR|  2022-08-01|  JBFSWPLKCB|         219|         CAR|  2022-03-01|  AKCSYPHFSB|         738|          CV|  2021-10-01|  QIQWFELMYB|        6465|          TW|  2024-04-01|  UEZRVKZQLE|        8018|         CAR|  2024-08-01|  EZPOAYFKUK|        6768|         CAR|  2024-12-01|  PUYVQFFWIQ|        9544|          TW|  2024-03-01|  PSKFZOGYEU|        9089|         CAR|  2024-08-01|  TIKICJNXJC|        8856|
| QWMEGZKEAG|       2593|         TW| 2024-01-01| ZYRCHLTIKZ|       1354|        CAR| 2021-10-01| LXAUJNSHVE|       8951|          TW|  2021-01-01|  KQDCYYFZMC|        1620|          CV|  2023-03-01|  TNEQXONWVK|        9622|          CV|  2021-06-01|  VEGZYAZACZ|        9377|          TW|  2024-08-01|  ZAQIHSIDJF|        1199|          TW|  2023-10-01|  NTNCLNWUPI|        1047|         CAR|  2025-01-01|  MDSPYNEFOL|         682|         CAR|  2023-02-01|  AQZNCPSXEE|        3808|          TW|  2024-03-01|  GVCULRBGGJ|        1221|          CV|  2023-05-01|  LNYBOYRYAP|        4323|         CAR|  2022-05-01|  MOFIKQYQWV|        6568|
| GOKQGRVSZB|       1017|         TW| 2024-04-01| ECQRRKQVGH|       2890|         CV| 2022-08-01| FIGDYKPLBI|       7852|          TW|  2024-01-01|  MEKKCPHMCF|        5967|          CV|  2022-08-01|  CXDXMGVDKE|        1997|          CV|  2020-10-01|  OMTFRICMUI|        2893|          TW|  2024-10-01|  HXKWKNEZGB|        3212|         CAR|  2024-08-01|  MPFVESKXYW|        4647|         CAR|  2023-08-01|  ZBPUTPWVHN|        2293|         CAR|  2022-01-01|  ABBILGAMIC|        3481|          TW|  2024-07-01|  HNOIQFZERY|        9856|          TW|  2024-02-01|  RAWRIHZLSS|         206|          CV|  2021-06-01|  FXOJFGWGEE|         252|
| IXWUFBPQNN|       4465|         CV| 2020-08-01| LUNHVTXBVM|       3878|        CAR| 2021-05-01| CSNUXBXMTP|       5830|          CV|  2024-05-01|  ZSXUIUXXEU|        4129|          TW|  2021-03-01|  LAKAHTKCXX|        7131|         CAR|  2024-07-01|  QOZCLPNGPO|        2719|         CAR|  2023-08-01|  FLPXIIYIMM|        3109|          TW|  2024-11-01|  LLTSDRYNHT|        1884|          CV|  2024-06-01|  SVFEJQMLNH|        3494|          CV|  2023-07-01|  UBHYEVZXBZ|        3214|          CV|  2023-08-01|  VNEAQZJRAJ|        4775|          CV|  2023-03-01|  NZLLQPCBLM|        9111|         CAR|  2024-10-01|  VYNYUNRQPV|        9816|
| QKWENHKQWD|       8961|         TW| 2022-02-01| TUVWECIQAS|       9665|         TW| 2023-03-01| OPPLCBJYRT|       9214|          CV|  2023-05-01|  FAEQXIJZIO|        7640|          CV|  2024-04-01|  LJGBKQFRXJ|        9256|          TW|  2021-08-01|  QDAPHCSSBU|        1875|          TW|  2023-08-01|  IGXAUHYZNX|        2854|          CV|  2023-04-01|  WIMFOQVWQA|        4788|         CAR|  2023-03-01|  IFHVQLYYNV|        8416|         CAR|  2021-09-01|  PGNWMKDOEA|        6495|          CV|  2021-08-01|  ESJHTUTDCC|        9861|          CV|  2021-11-01|  WHBBPASSZD|        6735|         CAR|  2024-12-01|  XVGSJIXBDC|        7959|
| VTSZUSYISN|       7449|        CAR| 2021-09-01| VSHPSSDBJL|       3962|         CV| 2021-05-01| BYGQFGIIWB|       9514|          TW|  2022-12-01|  TRZUNTMVHD|        8918|          TW|  2020-01-01|  BFETPMXPBM|        5085|          TW|  2022-08-01|  XVVVIYFJZN|        7737|          CV|  2021-01-01|  YGIPJXAVGP|        9464|          CV|  2022-04-01|  UAXTDBEFLD|         921|          CV|  2023-08-01|  QSSIYHDWOL|        8375|         CAR|  2021-04-01|  PYQIYHXSIT|        4197|         CAR|  2021-04-01|  ZOBZNBSWDV|        2087|         CAR|  2020-05-01|  JTUJGVGENE|        4223|         CAR|  2022-02-01|  QVXHEDTBCT|        1088|
| WUJTZIOSKS|       1916|         TW| 2023-03-01| MLWIFFEEOE|       5645|         TW| 2024-04-01| YIDDOHCXYF|       5954|          CV|  2024-01-01|  JBAVJGJKCE|        3238|          CV|  2023-06-01|  BICBJUJYLS|         160|         CAR|  2020-04-01|  ZKJECTMXVG|        2382|          CV|  2023-08-01|  MJXDXQQRHC|        9801|          CV|  2021-11-01|  CNOZCTSMQC|        4464|          TW|  2020-06-01|  AVGOOGEJKQ|        3601|          TW|  2021-07-01|  TMYAPSPFDL|        5284|          TW|  2021-11-01|  OUNOJWADRB|        7368|          TW|  2020-03-01|  PVZCZBLYOD|        5903|         CAR|  2022-04-01|  YXQPATHLQH|        1389|
| RBRXILPJCD|       3049|        CAR| 2021-01-01| HEFIABBGZD|       1705|        CAR| 2023-10-01| UMAZWIGPCB|       6412|          TW|  2024-06-01|  MLODVSHDMC|        8863|         CAR|  2024-10-01|  FHFCLPXFDZ|        4946|          CV|  2024-03-01|  FTFIFINXOL|        2620|         CAR|  2020-03-01|  ZHQSKAELVF|        1135|         CAR|  2021-12-01|  CJWPINNHDK|        6939|          CV|  2023-04-01|  SZMVSNTBUW|        8436|          TW|  2020-06-01|  LQYPKYFCEV|        1143|          CV|  2021-09-01|  BJPSEQIGWE|        1378|          CV|  2023-02-01|  ZLHEHICZTG|        9380|          CV|  2023-02-01|  YUEQZLNWJV|        4187|
| GYRRKYSYEH|       2777|         TW| 2022-01-01| DNPQRKYZFX|       9905|         CV| 2024-04-01| YNBRFEFXZD|       7897|          CV|  2023-09-01|  LCIAZPGPCW|        3592|          CV|  2023-12-01|  GJNGHLRWCU|        6441|          TW|  2025-02-01|  GNBICGIUTW|        7255|          CV|  2023-04-01|  BBGYSNXAZT|        9076|          TW|  2024-05-01|  PGLMKBRGHL|        3647|         CAR|  2023-06-01|  NKHCYUGMAD|        6371|          CV|  2021-11-01|  LXAFRRRBWQ|        4847|          CV|  2024-06-01|  LAYWJFZRKG|        5867|          CV|  2022-03-01|  OLLZPXUWLZ|         291|         CAR|  2021-03-01|  XBYHQTVCFG|        3919|
| AHPMVEFTZN|       1616|        CAR| 2024-01-01| INGHFCGFYU|       4588|        CAR| 2023-05-01| CPLAJGTOQC|       4015|         CAR|  2020-06-01|  OXDRFYYOND|        7100|          TW|  2022-10-01|  PEXELCLJBO|        5878|         CAR|  2020-09-01|  VUAEQDNPNR|         475|         CAR|  2024-08-01|  DIQBUSEKFA|        1054|          CV|  2022-09-01|  UWOFGECVSK|        2591|          CV|  2024-03-01|  PGMBPOOROG|        8918|          TW|  2022-05-01|  YUNXBXPZKW|         943|          TW|  2021-01-01|  HMQFELXDJO|        9462|         CAR|  2020-09-01|  SETZSWKJZU|        7919|          CV|  2020-07-01|  VSSFQNJHRM|         692|
| HWBNCXCNBJ|       8084|         TW| 2022-06-01| VYOACQRTHU|       9719|         CV| 2024-01-01| OXNGLBKGCI|       6503|          CV|  2023-11-01|  CDIXVWODOL|        3606|          CV|  2022-01-01|  YYZJHSLNGZ|        9736|          CV|  2025-02-01|  BQZQPJAARP|        3266|          CV|  2024-08-01|  GTZLPUQXUR|        3603|         CAR|  2021-09-01|  GYZCYJFOZO|        7402|          TW|  2022-05-01|  IAWMVFNUVW|        2472|         CAR|  2024-01-01|  GKJAIBCFQI|        8902|          TW|  2020-05-01|  VLVMRXTOET|        3788|         CAR|  2020-09-01|  WCYYPAZEHV|        1788|         CAR|  2023-12-01|  QBMATYOCSE|        4115|
| RKNLGHTOBV|       8846|         CV| 2023-04-01| CFXFTDWYEK|       5108|         TW| 2020-08-01| RZRYZRMJZW|       2896|          TW|  2025-02-01|  SFFSQOUDSK|        8946|          TW|  2020-12-01|  KBRQPNDDHH|        4371|          TW|  2023-10-01|  WKFMGBYEGE|         383|         CAR|  2021-06-01|  CJXBAATHDV|        8482|         CAR|  2021-06-01|  QESVDZWNIF|        2270|          CV|  2023-08-01|  TWUAOBPQXO|        7068|          TW|  2024-12-01|  JNOLCVPDYU|        8792|          TW|  2021-08-01|  JRTVLAXNOM|        8325|          TW|  2022-04-01|  RWMEIYNJZB|        3876|          TW|  2021-01-01|  WBBTMVCHCA|         727|
| BCTVBUHBVG|       2859|         CV| 2024-03-01| TBZXTYVIFV|       8076|        CAR| 2023-08-01| GUGVBMRUNU|       2829|          TW|  2023-03-01|  HGQVHXQRUD|         163|          CV|  2023-11-01|  FMOABOJEWI|        5311|          CV|  2024-04-01|  FNEGJYCIRE|        2017|          CV|  2022-12-01|  PRHAEMOYSA|        2000|         CAR|  2020-08-01|  HHCULSDLVO|        5444|          TW|  2020-12-01|  KPFQOXBHJN|        9110|          TW|  2021-07-01|  JMYBSIHFPC|        5394|          CV|  2023-04-01|  WNKHRFEGGU|        4890|          TW|  2024-06-01|  OPWGMVWIWP|        6869|          TW|  2024-09-01|  EQJSAIOBCZ|        8230|
| GDQQNHBZKD|       7810|         TW| 2022-10-01| VGOMMVOCMF|       4383|         CV| 2021-10-01| MVAWMKHUEH|        497|         CAR|  2021-01-01|  HFQWZILJWY|        3940|          TW|  2020-10-01|  XHYXDSRUJX|        1022|          CV|  2024-03-01|  MXBEAAMCUJ|        5646|          CV|  2024-01-01|  EZRXAPCDBV|        7377|          CV|  2022-10-01|  VZZYYNBZGS|        6400|          TW|  2024-03-01|  COAYFCGOBM|        8337|          TW|  2023-12-01|  FRBLACUGTF|        1788|         CAR|  2022-10-01|  ALUBDEPMAK|        5521|          TW|  2021-01-01|  RCBOPJNKGD|        5386|         CAR|  2023-04-01|  MGUTVKFLLZ|        9968|
| UGGVACZPPQ|       7828|         TW| 2021-12-01| RWEZHZGCOF|       4268|         TW| 2022-05-01| NHDBDDWMIT|        866|          CV|  2020-08-01|  IWDQYYXQWJ|        3743|         CAR|  2023-08-01|  BQOTDXJMPU|        3435|         CAR|  2024-01-01|  HRFJKQYWUN|        5838|          CV|  2021-10-01|  HMIIXOKMPL|        2729|          TW|  2021-04-01|  CRJFDMELQV|        7763|          TW|  2023-10-01|  ULIJDLBGQZ|        9241|          TW|  2021-09-01|  FCPYDPPKFE|        5892|          TW|  2022-04-01|  FRNLQNBIYA|        2249|          CV|  2020-06-01|  IFMLAZAUTC|        7319|          CV|  2024-10-01|  MUPZTNLUXL|        6194|
| WMGSPMUYDE|       3247|         CV| 2022-07-01| ICREGJKCJF|       7897|        CAR| 2024-02-01| QCXGUJRRUX|       8825|         CAR|  2021-12-01|  HTTKNJZUPQ|        4054|          CV|  2022-02-01|  DCVGRXQHDF|         612|         CAR|  2023-01-01|  WPYJUSYBUL|        6273|         CAR|  2024-06-01|  UJQQSWBMGI|        7360|          TW|  2024-06-01|  ZNQSXPVDCD|        1834|          TW|  2022-10-01|  XMPDAFRLFT|        3339|          CV|  2024-05-01|  ABKIWFFXSH|        6284|          CV|  2022-01-01|  AOCGPUTTNW|        5184|          CV|  2023-08-01|  HJFMUSRFPC|        4861|          TW|  2024-11-01|  ZZZULCXIIW|        2164|
| YPYKMYUCZL|       4909|         CV| 2022-02-01| RKETFBMKJA|       2714|         TW| 2021-01-01| YMNFFGZXSY|       7880|          CV|  2022-03-01|  JUTGLZQZCB|        2144|          TW|  2022-01-01|  VIATGQTEUX|        8153|          CV|  2020-09-01|  VFTJGGGWSA|        1121|          CV|  2020-12-01|  QKHYCQUPFI|        4852|          TW|  2024-08-01|  RSGPQGKTRG|        7754|          TW|  2024-09-01|  WBNKYZTRXG|        6411|          TW|  2021-05-01|  IIFPBXAOGR|        5399|          TW|  2022-01-01|  YIHORLXAZJ|        8512|         CAR|  2024-08-01|  CCLJRNQOOS|        2034|          CV|  2020-12-01|  VYOAJDBJWL|        5744|
| ODHMFCVKJO|       1809|         TW| 2021-06-01| SUDKQDOXEF|       8981|         TW| 2024-12-01| IFELSWZKXL|       6341|         CAR|  2021-02-01|  ULIJDCJMZK|        7926|         CAR|  2020-03-01|  YRTSTWIFTP|        2989|          TW|  2023-01-01|  QTCSHDPMIA|        8305|          CV|  2024-05-01|  SVJHGGDUJL|        4194|         CAR|  2021-11-01|  XHFSAKQCBF|        4879|          TW|  2025-01-01|  ALYTZMBTSZ|        9235|         CAR|  2024-04-01|  NUCBCODQTB|        9828|          TW|  2022-01-01|  TJVIBIRTEX|        4345|          TW|  2022-02-01|  CURRDEGYRO|        3178|         CAR|  2024-07-01|  CZXNHFVDZQ|        6230|
| NQZXXVPGNQ|       7421|         CV| 2024-10-01| GEZBMURKTG|       2341|         CV| 2021-11-01| IVYWVWHUGE|       9557|         CAR|  2022-08-01|  WRDSWOACZV|        6440|         CAR|  2022-05-01|  CHLWGALVNX|          50|          TW|  2024-04-01|  SSMNJLKQUP|        6340|          TW|  2023-02-01|  NOEFSQXZCW|          64|          CV|  2024-01-01|  TEIVDDQGXE|        3205|          CV|  2020-11-01|  LQTPHYCKWN|         963|         CAR|  2020-09-01|  DXOXJKXFKJ|         378|          CV|  2020-12-01|  HCFLTXEFUP|        2087|         CAR|  2023-12-01|  ZZJJGCNTCJ|        5878|          TW|  2023-05-01|  OYZODDVSRU|        9065|
+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
only showing top 20 rows

In [36]:
df.write.option("header", "true").csv('file:///C:/Users/DataEngg/Downloads/Nexus-Data-Iceberg-main/data_10000.csv')

In [29]:
# # Specify the path to your S3 bucket (make sure the bucket exists)
# s3_path = "s3://prateek-iceberg-tables/iceberg_warehouse/data_10000.csv"

# # Save the DataFrame to S3 in CSV format
# df.write.csv(s3_path, header=True)

In [93]:
import time

# Start the timer
start_time = time.time()

# Define the complex SQL query for 'nyc.taxis_10000_50COLUMNS'
query = """
SELECT
DATE_FORMAT(extra_col_3, 'MM'), SUM(extra_col_1) AS sum_col_1  
FROM nyc.taxis_1K_50COLUMNS
GROUP BY DATE_FORMAT(extra_col_3, 'MM')
ORDER BY DATE_FORMAT(extra_col_3, 'MM')
"""

# Execute the SQL query
df = spark.sql(query)

# Stop the timer
end_time = time.time()

# Show the result
df.show(truncate=False)

# Print the time taken for the query
print(f"Time taken for the query: {end_time - start_time} seconds")

+----------------------------+---------+
|date_format(extra_col_3, MM)|sum_col_1|
+----------------------------+---------+
|01                          |394969   |
|02                          |432854   |
|03                          |430002   |
|04                          |455975   |
|05                          |426552   |
|06                          |362719   |
|07                          |365252   |
|08                          |342378   |
|09                          |426008   |
|10                          |459800   |
|11                          |398141   |
|12                          |466761   |
+----------------------------+---------+

Time taken for the query: 0.022954225540161133 seconds

In [96]:
# #sample aggregated select query to get count in 

# import time

# # Start the timer
# start_time = time.time()

# # Define the complex SQL query for 'nyc.taxis_10000_50COLUMNS'
# query = """
# SELECT
#     extra_col_0,  -- Example: Grouping by 'extra_col_0'
#     COUNT(*) AS total_records,  -- Count the number of records in each group
#     SUM(extra_col_1) AS sum_col_1,  -- Sum of values in 'extra_col_1'
#     MAX(extra_col_3) AS max_col_3,  -- Maximum value in 'extra_col_3'
#     MIN(extra_col_4) AS min_col_4  -- Minimum value in 'extra_col_4'
# FROM
#     nyc.taxis_1000_50COLUMNS
# GROUP BY
#     extra_col_0  -- Grouping by 'extra_col_0'
# ORDER BY
#     total_records DESC  -- Ordering the result by the total number of records in descending order
# LIMIT 100;  -- Limiting the result to the top 100 rows
# """

# # Execute the SQL query
# df = spark.sql(query)

# # Stop the timer
# end_time = time.time()

# # Show the result
# df.show(truncate=False)

# # Print the time taken for the query
# print(f"Time taken for the query: {end_time - start_time} seconds")

In [86]:
import time

# Start the timer
start_time = time.time()

# Define the complex SQL query for 'nyc.taxis_10M_50COLUMNS'
query = """
SELECT
    extra_col_0,
    COUNT(*) AS total_records,
    SUM(extra_col_1) AS sum_col_1,
    MAX(extra_col_3) AS max_col_3,
    MIN(extra_col_4) AS min_col_4
FROM
    nyc.taxis_100M_50
GROUP BY
    extra_col_0
ORDER BY
    total_records DESC
LIMIT 100;
"""

# Execute the SQL query
df = spark.sql(query)

# Force computation of the result (avoid serving from cache)
df.count()

# Stop the timer
end_time = time.time()

# Show the result
df.show(truncate=False)

# Print the time taken for the query
print(f"Time taken for the query: {end_time - start_time} seconds")

+-----------+-------------+---------+----------+----------+
|extra_col_0|total_records|sum_col_1|max_col_3 |min_col_4 |
+-----------+-------------+---------+----------+----------+
|RCIJEGKQQO |2            |3444     |2020-03-29|NXWCIYAFLF|
|SMUDUCNHCT |2            |16336    |2022-10-11|CQMJGSKEZZ|
|EUIOKRIGYF |2            |9926     |2022-03-07|BRMOUOELYE|
|RDWYAFOQUW |2            |12513    |2021-12-31|GZZRGUFYVI|
|UGAGJBJLIB |2            |6489     |2019-09-26|AIBYEXPLRZ|
|KGNDQROJZX |2            |12822    |2019-06-04|CAHSZYJWYP|
|GOOOVIDFGP |2            |14710    |2021-02-26|GYOPMFYNLV|
|RETMZYNKUO |2            |10944    |2020-11-17|EFPIIMLRCR|
|AMDDDTEZPF |2            |9843     |2020-03-18|AMKDMLVQVV|
|VHXDXXSWNE |2            |5331     |2020-07-17|FQTKMUQOAC|
|HTISVAKSHI |2            |1261     |2020-01-26|FMOYZOUVOY|
|EVDENFQWBQ |2            |4469     |2019-12-11|QYSBWCVDAX|
|PTBXGFHCBV |2            |10863    |2024-04-03|PLJVRZFGYS|
|ONONAPKYZK |2            |16500    |2021-08-18|KPMAKSRUGF|
|YRTDFLPYJG |2            |11245    |2022-11-25|DCBHJOKFBB|
|CDPPMMHQRK |2            |9798     |2020-01-03|CDYVFFYGTB|
|FXDTOMAIBI |2            |6541     |2017-10-07|TTQUZGYLVD|
|HBHVYJGRFY |2            |7971     |2022-12-06|CYHWNQRUSH|
|PBIASHQEUW |2            |17516    |2021-09-27|KEVVVWQKZW|
|OZMJDVSWWD |2            |7647     |2024-08-16|URZZSGLEHU|
+-----------+-------------+---------+----------+----------+
only showing top 20 rows

Time taken for the query: 603.3699321746826 seconds

In [87]:
import time

# Start the timer (this will capture the total time for the query execution, including the join operation)
start_time = time.time()

# Define the SQL query for performing the JOIN operation on 'extra_col_0'
query = """
SELECT
    a.extra_col_0,  -- extra_col_0 from the first table (nyc.taxis_1000_50COLUMNS)
    a.extra_col_1,  -- Example of another column from the first table
    b.extra_col_1 AS extra_col_1_b,  -- Example of another column from the second table
    a.extra_col_2,  -- Example column from the first table
    b.extra_col_2 AS extra_col_2_b   -- Example column from the second table
FROM
    nyc.taxis_100M_50 a
LEFT JOIN
    nyc.taxis_10M_50COLUMNS b
ON
    a.extra_col_0 = b.extra_col_0  -- Join condition on extra_col_0
"""

# Execute the SQL query and trigger the action (this will start the query execution)
df = spark.sql(query)

# Show the result (this forces Spark to execute the query and perform the join)
df.show(truncate=False)

# Stop the timer after the query execution is done
end_time = time.time()

# Calculate the total time taken for the query execution, including the join
total_time = end_time - start_time

# Print the total time taken for the query execution (including join)
print(f"Total time taken for the query execution (including join operation): {total_time} seconds")

+-----------+-----------+-------------+---------------+-------------+
|extra_col_0|extra_col_1|extra_col_1_b|extra_col_2    |extra_col_2_b|
+-----------+-----------+-------------+---------------+-------------+
|AAPXCANGJC |2607       |NULL         |KWXFMTFSUFGQDRC|NULL         |
|ACLYVVNHAM |3574       |NULL         |KOUXEDRNYIFNLMA|NULL         |
|ACMEHLUEHE |8526       |NULL         |FVBLYYCVPEVZJOH|NULL         |
|ADUUGUCIKL |6903       |NULL         |SSKMTUWVWWLQNDY|NULL         |
|AEOUKLHQTM |5679       |NULL         |WVBQSPSXCQVGURS|NULL         |
|AERPSIJJJK |208        |NULL         |WWAUPACXKIYSFUR|NULL         |
|AFEBQHPGLS |9307       |NULL         |UWPRLTUVPYISDRM|NULL         |
|AGBIVJGVEX |5032       |NULL         |BWAFAKSIGPFOCLC|NULL         |
|AGRMKBQETQ |8163       |NULL         |ANLYSOGFEMXXPPK|NULL         |
|AGSYDJYBSB |136        |NULL         |QRJABQIQGBZKKYI|NULL         |
|AHNHHPDVSU |3412       |NULL         |ETYPJLDYZVEUETQ|NULL         |
|AINJPMQFIJ |1711       |NULL         |IIDXRSSRUJKLVGY|NULL         |
|AIPVQRJQOR |132        |NULL         |LKCDMSZZKOMTLGJ|NULL         |
|AMHXFWXNQC |7945       |NULL         |SCGHFQNTJWYHNOB|NULL         |
|AOFMLVGAGD |786        |NULL         |LEMILKNQXVLXZQD|NULL         |
|AOIPVXXXND |4686       |NULL         |QVIKWSBATJIOXFY|NULL         |
|AOJAKXMTBU |4011       |NULL         |OCCTDNPMZLLKKWL|NULL         |
|APKJBAGNXP |5852       |NULL         |ZJYRUAKTXAWUKMX|NULL         |
|AQIUISKSHJ |3284       |NULL         |LOBOONGHULZMELS|NULL         |
|AQWWZKAIBJ |1950       |NULL         |UHYUSWEXLPPIGHN|NULL         |
+-----------+-----------+-------------+---------------+-------------+
only showing top 20 rows

Total time taken for the query execution (including join operation): 73.63867974281311 seconds