In [23]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("records").getOrCreate()

In [24]:
# Switch to the 'nyc' database
spark.sql("USE nyc")

# List all tables in the 'nyc' database
spark.sql("SHOW TABLES").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|      nyc|           taxis_100|      false|
|      nyc|     taxis_100M_time|      false|
|      nyc|taxis_1000_50COLUMNS|      false|
|      nyc|            taxis_1B|      false|
|      nyc|            taxis_1L|      false|
|      nyc|          taxis_1000|      false|
|      nyc|            taxis_10|      false|
|      nyc| taxis_10M_50COLUMNS|      false|
|      nyc|   taxis_1L_5COLUMNS|      false|
|      nyc|         taxis_10000|      false|
|      nyc|            taxis_1M|      false|
|      nyc|          taxis_1L_5|      false|
|      nyc|          taxis_10_M|      false|
|      nyc|taxis_1000_50COLU...|      false|
|      nyc|  taxis_10_50COLUMNS|      false|
|      nyc|           taxis_10K|      false|
|      nyc|taxis_100000_50CO...|      false|
|      nyc|            taxis_1K|      false|
|      nyc|           taxis_10L|      false|
|      nyc|        taxis_5_100M|      false|
+---------+--------------------+-----------+
only showing top 20 rows

In [25]:
# Use Spark SQL to describe the table and see its columns
spark.sql("DESCRIBE nyc.taxis_100M_50COLUMNS").show(truncate=False)

+------------+---------+-------+
|col_name    |data_type|comment|
+------------+---------+-------+
|extra_col_0 |string   |NULL   |
|extra_col_1 |int      |NULL   |
|extra_col_2 |string   |NULL   |
|extra_col_3 |date     |NULL   |
|extra_col_4 |string   |NULL   |
|extra_col_5 |int      |NULL   |
|extra_col_6 |string   |NULL   |
|extra_col_7 |date     |NULL   |
|extra_col_8 |string   |NULL   |
|extra_col_9 |int      |NULL   |
|extra_col_10|string   |NULL   |
|extra_col_11|date     |NULL   |
|extra_col_12|string   |NULL   |
|extra_col_13|int      |NULL   |
|extra_col_14|string   |NULL   |
|extra_col_15|date     |NULL   |
|extra_col_16|string   |NULL   |
|extra_col_17|int      |NULL   |
|extra_col_18|string   |NULL   |
|extra_col_19|date     |NULL   |
+------------+---------+-------+
only showing top 20 rows

In [26]:
spark.sql("SELECT * FROM nyc.taxis_100M_50COLUMNS LIMIT 10").show(truncate=False)

+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|extra_col_0|extra_col_1|extra_col_2    |extra_col_3|extra_col_4|extra_col_5|extra_col_6    |extra_col_7|extra_col_8|extra_col_9|extra_col_10   |extra_col_11|extra_col_12|extra_col_13|extra_col_14   |extra_col_15|extra_col_16|extra_col_17|extra_col_18   |extra_col_19|extra_col_20|extra_col_21|extra_col_22   |extra_col_23|extra_col_24|extra_col_25|extra_col_26   |extra_col_27|extra_col_28|extra_col_29|extra_col_30   |extra_col_31|extra_col_32|extra_col_33|extra_col_34   |extra_col_35|extra_col_36|extra_col_37|extra_col_38   |extra_col_39|extra_col_40|extra_col_41|extra_col_42   |extra_col_43|extra_col_44|extra_col_45|extra_col_46   |extra_col_47|extra_col_48|extra_col_49|
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|HNPTDXSVHW |669        |JNJMHTYVHAITOTK|2016-04-21 |KSCXQDLERE |5991       |TNCHHWKEMLBUOHY|2021-06-30 |KFGOBGVDKP |733        |UFUPERMJSLUVXML|2022-01-09  |IZDGRXFFPV  |1862        |MKFPBJORCJXRPWD|2016-12-25  |BLXYWGNPTX  |8816        |WNYXLPFGPWSTCWI|2021-05-17  |QHWPUOGGQC  |625         |QLKSOYFWMSCXKAT|2019-01-05  |AGBFJQIHWI  |1104        |NVBVSELTWVXGPON|2020-06-27  |FUDOPWAXKO  |969         |AENXMSKZYRSCZUO|2023-09-04  |CUEIIGXMSC  |7524        |PTTTEFBCLGKQAJA|2022-10-08  |SJLRGVZOWN  |9486        |OWDHIRNXVYHJFIH|2019-06-22  |ECZCEEJYZW  |149         |BKQCLMPQNQPQLVF|2017-08-20  |LMXYFTXFTC  |3219        |IRMAMGVYNJSGPFC|2021-01-07  |YEYVTPSQYQ  |1241        |
|DBEFLXTUAO |2423       |EVSFWHYLVXYYMST|2017-12-26 |DUDTWXWNJJ |8985       |KVIMASLTFWUNZTU|2016-02-29 |SKSDXGSOMK |659        |WCOSPPDNLZWVEHG|2017-10-30  |ZLMEBIYSWW  |2390        |AGPUSXGPMBQJIKJ|2017-12-26  |CHBLKZRPSW  |2748        |VHNCQAFTLBIJHDD|2017-09-07  |QFMBHUTLKO  |6822        |YNHJCGBLZPSEVEY|2021-03-10  |HRDFWZHGOQ  |5985        |CEADAWBVIQAILJO|2018-01-22  |JRNEVCBQIK  |9920        |YIJKCWAOUTONQOP|2017-04-14  |BLWEJBWCEZ  |7291        |HRZHJEFDTVMHBBG|2020-07-17  |CJDLIQNXXP  |1103        |GJTUTSJYBYWFLWT|2022-07-28  |ZFSOUCFNUF  |8878        |QPLKFWUDOHAAKIX|2024-02-21  |GDRYCPSOGU  |1623        |NPFFHTEHYJSFCAZ|2016-02-09  |NJBPDVDASP  |3295        |
|UYIWAZAUAD |3831       |OVYWHXCQWHHLCLI|2016-08-06 |JZXVFGSGLD |7153       |CYDCPGZPYEYYBWD|2016-09-15 |YGKIAKXTXP |1705       |XTUTWFIOLDZIZUB|2024-01-14  |LLSPNBHWEN  |2798        |WTIQSSTMLVUAZQJ|2016-04-29  |OKRIYHXYVE  |2536        |ZPNQSLOTZFYWWAH|2022-04-29  |LVXUYCSOOZ  |921         |APPKKUQFNINCAKK|2024-07-09  |SPUTQKHRIT  |648         |OYTOXBCOILEQDSG|2022-09-27  |KNTMZXIMLX  |6352        |HVWGLXFBVYNDFNH|2021-04-03  |XHAKYYDXWI  |743         |KXFOVOHXMEKPPMC|2019-03-26  |VZTOXUGURQ  |3594        |YEVAXEMHFYQTOWN|2021-10-11  |LZNPFDQKXY  |5950        |JKDXXJHESWFGIWM|2020-12-11  |NWMXAHEKZY  |5197        |AEENGKGXAYICNNP|2015-03-08  |ZIIQUCEZHW  |3969        |
|QKVJAGLTRN |3424       |JBDWDXZBXNDLOUL|2022-07-20 |VEZPGEUAJO |8649       |CIWIXOSACOYBNTI|2019-09-12 |DUHZMOWBCI |8616       |DFKNOWVRSBLEPUK|2016-05-23  |WYYEDGQNXL  |8560        |UJQODGQLLRRXUEU|2018-12-01  |PTUTPCSLYE  |8771        |TCSYCGMOBMYTYLM|2023-04-07  |YVFQNMOSKV  |6505        |RMORSBXBLZZDIOO|2024-12-16  |CLAXDBOLDP  |8071        |FBEICTJQPMLXABG|2020-05-01  |OTDQACJMDE  |1216        |WDOSJGPIJCJAFGX|2016-03-25  |VBZCEWRHOB  |5488        |KHCDPOPGHYCEWMX|2017-05-19  |JEZFYUZHMA  |6445        |IEKWCDBLRJTDVBJ|2015-11-16  |RDHIHIBAAE  |6375        |YCSRCGRGEOQQMLC|2017-12-04  |FZUTPVHJMB  |8447        |ZXNBORRUKCPGICU|2021-09-20  |PYVAJBKJPR  |3907        |
|DZKPIKGQWS |3886       |NINVFVDJFKJHYVG|2018-09-17 |FRKBYBAPES |4522       |NBSVOCWDZCHFXJA|2017-11-02 |TKIDWRVGFD |9134       |NZSGVDVDQQKKBGS|2024-01-28  |ERRJYMSVQY  |7621        |UTTNNSCIEKJFVRN|2020-04-21  |CFUYBLPKMK  |1973        |NBTWSBCYKMOSSQJ|2016-06-01  |CDYZILZIBD  |2403        |EQECILEQENHVCND|2020-11-14  |IXXTUTOXHL  |2788        |GGRWCQDAMOBKTFT|2022-10-06  |WKXFZGMWZK  |6000        |MYUZOCABIFOZYLZ|2019-04-10  |OEBZLEDGMF  |577         |IKXJJMVJSFLXGAQ|2024-12-03  |PFLKHRBUBU  |3062        |WZCPYPWJWZAVMAO|2024-08-24  |EKKYLHZXNM  |6092        |VEHRAWIKZAQARZS|2021-09-16  |XGFNKAYRFI  |4171        |JMAIHPZCXWVHJJL|2015-12-16  |GFMWLRFCXB  |1286        |
|BLDCKXAINX |7141       |CAHXLDCNQZXZVQS|2017-05-30 |KWNQYJTYGO |2763       |YDUFRBTZWUWSBKD|2021-12-27 |JNHRTJRJEI |1197       |NWVERDMRIVZRKDL|2017-03-05  |WTTJZIHBMP  |3948        |HANOCRTPKYJAIFD|2017-02-23  |WFWPUEDXIV  |4080        |HERUBSHMDHMLXLF|2019-11-15  |TQHSKGEWGF  |3835        |DKBCSWALDNXZVZT|2017-05-22  |ZRYYYTYGJH  |7320        |PETVEZEIFAJPSRJ|2017-08-29  |MDGPAUXBUA  |7048        |ENTKDMAPFJNRHNI|2015-11-14  |PNLVBYKUTQ  |1669        |UMXASBWHRELTGJL|2020-09-20  |NYSDHLSBVY  |9393        |UHQGQSKPCOHDRZF|2016-04-12  |AGYLUGARFB  |564         |DLRBHGFSCZQBWXX|2021-12-14  |DQCICAQQRP  |8551        |EXXCLYQTPDVYEEI|2015-03-30  |MLXSWNTFDR  |7395        |
|LIKSZASEVA |8117       |YFRKWGVLEFRDWYQ|2016-01-10 |ZQZFLLVMLX |3775       |HZONAOJXFPHEZXO|2023-05-30 |ZGMVJZZSUJ |9032       |MKBGJCZHBKERMFK|2021-03-07  |KRGMUFPOBC  |1713        |SAYYGBEQQLESEBX|2024-03-08  |GZQDLAPRBT  |9896        |RYVKELRPXPODMVG|2019-05-12  |TPAWVEPODE  |2894        |JOTCHJIMMDWHYKA|2017-09-05  |CWFJFQZNMI  |3510        |AVAGANWEXFDCTLU|2021-06-14  |EKPFWCBGFA  |7408        |BHJLGUGZNYHZIMS|2021-06-08  |UOESOSIIER  |5612        |MQVCAVHOFDVFVQW|2020-09-04  |XVNADXXEFR  |6571        |APDWSFWWPCRVNYU|2023-11-13  |AHUNRDHHOV  |1253        |WSTDBKXEMCFXRUR|2017-08-14  |VMBDTJMNLW  |5461        |BGOTIQODMJURWYG|2023-11-30  |YIUGQDIANJ  |6995        |
|GDKWLPRVND |1982       |SHWGAJJDVJUVLIP|2023-01-01 |GTQOEBVICI |6689       |YMVOJQRQKHENXIO|2024-07-24 |VAJMXEHQNV |6230       |ADOQTYYBQKUIXVZ|2015-11-12  |VLIYTZPONU  |4290        |GFOBXHBSPEXMEPQ|2020-04-19  |OUHNGSPLUN  |8739        |DHAJXHHNHTZFMBK|2018-10-31  |LZRQWHUUNM  |5691        |RVZACWUYLDHJSSH|2015-09-16  |FOYHKKHTWK  |2830        |PHVBYDJVPJTZDTW|2021-07-08  |PKFRWAGBCL  |5368        |GXIGPOFOUEHUSPH|2018-02-01  |OGUHMYSMUE  |6093        |XIYUEIQPABNLIJG|2023-09-21  |LDCTGJJAKL  |5959        |HPNNVUTAHYKQELM|2024-06-27  |EUUNWNICZV  |2642        |JMXUDIACGYGZBGD|2015-12-07  |JTVSDLXCUQ  |6669        |MZHOOTKKNVDMLAB|2020-10-25  |FWWBERYNRB  |283         |
|IXNLZVHELH |152        |MAJPDQBPPSZXYAF|2022-01-24 |MDYYVOCMAW |8407       |ODWUADUUNSKOEAP|2018-10-26 |KZJPEZRQFF |5881       |UDRCNYVAGDOUVDZ|2021-04-30  |BSUPNKGLGW  |6261        |MQVLHCFZJMFOHWH|2018-04-23  |LMAWOFAGKE  |3555        |UPVVWEEAPLNMBWN|2018-02-12  |RYNWGVBHVG  |1268        |KBHYJRJAIEUUCLU|2019-09-22  |NPNEJIMRCV  |5138        |ROZKQVOZTTJKWPV|2023-04-08  |UMRYBHWOWI  |6318        |YLNNEFSOKPFJIWE|2019-07-05  |AUUQTMIUQT  |1658        |SNTIKCCXVUGWDGN|2016-03-06  |PEXVMGEOED  |5422        |UHJDVHSWEFGVJFI|2017-12-15  |YXLGBIZYHC  |6207        |VFLMOFIWFEGOLVB|2019-10-15  |WIPXABZASC  |5724        |KQQJTUWBCAJYUVM|2018-08-11  |CXJOFSMSCX  |9473        |
|VPLMMAEIOW |8090       |UCTNTAEZFKGEJNG|2019-06-30 |KCNOKZVBLC |2661       |BEGIBWLTMAJVRLC|2021-08-16 |NURKVXBGMW |6796       |YWMNJFJJEFHDJNV|2016-11-11  |BSPDCLWIDK  |8368        |ZQYBBFWDAHOTDEV|2015-03-26  |HKBVGPNGRV  |9293        |DPDIYIMGMMFJBQD|2022-09-24  |MVKMYUWCON  |504         |AQRSVAQUTHAZDOY|2016-02-14  |WNZUBHNDQL  |6509        |RKVNQIJSDLGQGIF|2023-07-22  |XRVADHXREK  |1312        |SXCMPZMQIHRAXAT|2015-03-01  |KAAQYGXUSW  |2013        |DLWVRDDLATBVYJM|2018-02-26  |XENKTNDRSF  |4741        |RSLEOZKUGQWWQHA|2021-12-05  |QIYAGXRRZV  |8981        |LQYAEUYOAEDAQCP|2018-05-18  |XFLNBRMWAW  |5777        |ZMJKTKUBQBNTYAW|2017-03-24  |IEUUXOUEDN  |7885        |
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+

In [7]:
# import time

# # Start time
# start_time = time.time()

# # Run the Spark SQL query
# spark.sql("SELECT * FROM nyc.taxis_100M_50COLUMNS LIMIT 10").show(truncate=False)

# # End time
# end_time = time.time()

# # Calculate the duration
# execution_time = end_time - start_time

# # Print the time taken
# print(f"Time taken for the operation: {execution_time} seconds")

+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|extra_col_0|extra_col_1|extra_col_2    |extra_col_3|extra_col_4|extra_col_5|extra_col_6    |extra_col_7|extra_col_8|extra_col_9|extra_col_10   |extra_col_11|extra_col_12|extra_col_13|extra_col_14   |extra_col_15|extra_col_16|extra_col_17|extra_col_18   |extra_col_19|extra_col_20|extra_col_21|extra_col_22   |extra_col_23|extra_col_24|extra_col_25|extra_col_26   |extra_col_27|extra_col_28|extra_col_29|extra_col_30   |extra_col_31|extra_col_32|extra_col_33|extra_col_34   |extra_col_35|extra_col_36|extra_col_37|extra_col_38   |extra_col_39|extra_col_40|extra_col_41|extra_col_42   |extra_col_43|extra_col_44|extra_col_45|extra_col_46   |extra_col_47|extra_col_48|extra_col_49|
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|CRVJYYFPRY |3405       |VHHGQHQDNMLMIPS|2017-07-08 |EHZCMVTYTR |6011       |PZDNHBTEJHUIFER|2017-03-19 |MPTVSDKRWI |7538       |QSZXRCZQDMMERBV|2017-02-01  |NUWRTQHZVV  |8265        |HYQFXWKEJQGWIIO|2020-07-18  |BDQMDEAWWT  |6151        |FZLOSWRWFGPGJPY|2022-05-03  |JLDHZUWJZF  |7415        |VQPNVOEYZEHPAAO|2015-08-08  |KAKFZOAYII  |1381        |HBGHKXMXOYDDHTP|2020-08-22  |OVLPLOSMES  |5376        |QHMUTENGRMPYXJM|2019-05-15  |SZEVCAXDGQ  |3266        |NBREANDKYAJEQIL|2020-04-12  |ZYBZQERESV  |8834        |OANCJRHRNWTIZCP|2016-10-20  |TUZMJVVYHP  |4471        |XEXDVCTDMUJNSKU|2023-01-23  |TTJFJKQBFA  |8014        |MLZIXNJYRIVRWAI|2019-02-04  |QEABXWFKMP  |2650        |
|ZEVLBWPGQJ |6080       |SUOPKZFESSIWDIK|2024-11-04 |EOEXFTCYQY |1005       |SFLWNPFPESYQWMS|2015-03-16 |TQBNMXCXBG |7449       |WHPUWPNIHFDDZWL|2016-05-21  |OZOHEUGTJJ  |156         |DLIVXKMLTUVTNVB|2017-07-20  |TWZJUTWMCT  |1198        |ARDJCYAOBGABCPQ|2019-06-13  |RFNIRMFACI  |4400        |QMHNATZVXWENFEI|2024-10-19  |YGRMLPRUVU  |7722        |LBJTHRNQUAUXERA|2016-04-05  |OGOQUILPBV  |3728        |YGYPJOMHKCLXCJU|2023-08-19  |MAQBDKWESA  |4934        |RJYNEDEPGGMFNIQ|2019-04-06  |SMADYJNTCL  |9976        |CSXDQLXHSISZZBG|2020-01-13  |ZWPGPLRLLD  |7943        |CZMLTVPUYYFEQNZ|2024-01-05  |UCDGFSACQY  |4087        |YBGGQELRIQJYBCG|2024-06-14  |JSYEADUWSP  |298         |
|ESTOMZIZJS |7655       |XTMQERCZSOJXIEQ|2020-02-26 |PSGSMRGEFC |185        |IKSWPIPJTFRCAPM|2022-01-29 |PIRPFLNTSV |5045       |CSKIFKPNFVMPFAO|2021-03-20  |XVAVGZDMKO  |8084        |CCAKAQWSCTLGUCY|2017-03-03  |BOAZBTOCUF  |6811        |LYHIKSZPZCBRNSJ|2016-07-13  |RVBCOZAMDE  |8822        |PXSKFCLZZQRRTKW|2016-10-05  |FLUCNFNMFE  |2266        |VOWZICJEVPDKMWO|2017-12-06  |USCBGILZUI  |5251        |WLOKHDJWXSZSITE|2015-07-05  |BBGZRONGRG  |8938        |HKTKAXXJIBTCBUE|2017-05-13  |RXTIBGTUNY  |6989        |UNYUUQPBTYEYKMV|2020-01-14  |JVOPTTYSYG  |6315        |CMCDAVDVYBBOMDN|2022-07-17  |DGCGFFSJIS  |4781        |SPXFPARBAZTHRDH|2019-10-07  |QKXERJXMAU  |1327        |
|MNEFJUDFRU |2319       |UABZVIIKRDPBEVB|2016-01-08 |JFUPERNUAD |817        |NGPPXDHEIDNZYEP|2023-07-25 |KSRLXACVJP |772        |MRMSLMPOQDSIREV|2017-05-28  |SPIGXYAMKO  |5005        |NWBCYYFPVKRDRYU|2019-07-24  |HSSVEINPMN  |4513        |VXGXXQHCUXZMRUI|2016-09-22  |NXLMRFXRVJ  |2489        |BGHMBRUEHQVNTPE|2021-07-08  |INHDTTUATX  |1271        |EORXHVEAEPWNFJH|2018-12-21  |HSIYBSXWRW  |1519        |FDTAFBHYHOVCLFQ|2020-02-03  |AOWWWMDZEV  |5531        |ATEVUXMXPRZEOVE|2022-05-10  |PHALBHWQZD  |8957        |KCZYBAVQDYAHEKZ|2024-11-12  |YZLBICSNBH  |1813        |HCGNFIGJTDRHTUU|2022-02-16  |XMPTHRPGPA  |9616        |XAIFPRUHIZFHREA|2017-12-31  |YEPNWISIUC  |290         |
|QZICPJYGYS |3172       |FPVZIQDURFYAICG|2020-02-27 |LAGCOCZDZU |8085       |HCUWSFXFQEWTJYT|2018-11-04 |QBWHBOIZDO |6572       |JFHHLULQOYJGMIU|2019-04-29  |AIIUFEQUEO  |5838        |LBZCFDANBFLWNDB|2019-10-25  |XDNVCSJTDS  |9865        |YMOIJBPFAYOPUYV|2019-08-31  |NIRBVUZUQM  |6312        |QWENGXAZEFBBACL|2024-06-06  |CTGOHEJXZF  |3457        |VSBJZIYPROBEWIQ|2020-06-26  |PKMSUTCONU  |212         |VFXKMFQXWOVOGQS|2018-07-12  |FQUNKMRBVA  |905         |HMQNZPGRTGHGXCK|2016-09-30  |BDLXUVNNLJ  |8503        |BPYOHSTVOMNBQWC|2016-05-15  |WLJYUCDGIM  |8852        |ANSVCKXHNNGGSSJ|2016-03-07  |LMKCPGIIHE  |9367        |HRPWFVKLDAWWZBN|2018-09-18  |DQQAYCSOKN  |8600        |
|SEATAXWGIO |1762       |HNMMWGBNTWTNKRA|2023-07-31 |XIRJAIOAGJ |6748       |WRBEBOGRSNZFNJL|2020-12-10 |ZFRZGXUZZX |8322       |DAOGZISJPCXNSKV|2018-02-26  |MKKGLUXUJC  |3882        |CGYYIMXXEWEIFKN|2019-03-11  |GVPQYWZGTR  |9203        |BZROEMGIPGBCULU|2015-09-19  |NSNJKTCQSH  |8950        |DBTWMXPVLXYGVEZ|2020-09-20  |UXBJIXFULV  |8805        |WDGAGNBYNGKOCDX|2022-12-26  |KPRFZBHBQS  |3396        |ORIBSCCFSHCAICW|2016-05-21  |LAUHNGPNWY  |8719        |PHVIUTIWQEPIQWQ|2023-10-17  |UZQMOAQTZO  |4728        |MOIPFSBXOOXBUEW|2020-10-13  |ZBZBJVYZQK  |135         |KHLWROGDACAPYQB|2019-05-27  |STCLPYXYMQ  |7427        |RXRUEEBUNRFIGZR|2023-04-29  |TUGKKSLEWY  |7473        |
|FDQKGJNHQV |8611       |AODVESKGNLHNBII|2016-12-09 |RETPGRVXGA |7994       |DPCEHFUHPCOZRXA|2023-03-04 |GLMGEZZQSQ |3614       |YLCBYGMRAYLKXPI|2019-03-06  |UVBJFWHQIO  |5241        |BNAPFATSKQFCZKG|2025-02-19  |GOQLRKBIFI  |7388        |GBXVNUKEDOQWJXX|2024-10-10  |YCPKSGOCBR  |4584        |IEMECLIZLLAGONB|2015-08-19  |QXOHYPCJWP  |6027        |OPBDPKJXCRMKAHQ|2019-05-29  |PAZYCHQXEX  |1211        |KJMUGOXASXNLDYL|2023-09-24  |BATYVQTGSX  |6250        |VKACEMAVWEVRCXZ|2023-01-21  |PDRFWXHSWD  |8260        |UAGBNDPWJFPKITG|2024-07-23  |DLSMKPLEHS  |5960        |DKWZNLYUFYHHBBI|2020-09-08  |GDMHOSTFEC  |8409        |YFJDUQGBIWVTZZU|2023-02-05  |GXCFDICRJI  |9023        |
|SHYLFLCXUN |8691       |PVLUCIJDGGIPZLH|2017-07-30 |GUYGMFXXYP |7327       |LQSBBIOVZHJTRIN|2024-11-22 |GMDNJYPOMJ |4050       |GEUNUOCBUWHQANT|2023-09-29  |NQCZUFPHWU  |815         |UVETRMLFAHPWYDS|2021-11-20  |PEYCTFQNTC  |9721        |BFDEYOIYUUOWRWW|2017-06-19  |PRKUVPMQGU  |7763        |QCVDTSYQNYLPVHO|2017-05-26  |FGZHPXEPDK  |842         |HEFFDQNFKBENAML|2020-07-07  |CXZMGKEVUK  |9926        |OZKZKMFWMFTMTWC|2020-09-12  |FHGKEZDGXQ  |4744        |HADFVZSCYJUISJM|2021-03-10  |YIMYULDZKX  |812         |EYJERBUZFOUMRMY|2015-08-27  |RMSEHMNKXK  |6121        |MKNSZABMOLBCQYO|2022-01-22  |RZRICVJABR  |5231        |GRGHBKZUJQKOKEO|2017-12-23  |ZQXNBNGYKG  |3712        |
|JMSZWNEWYO |7634       |HDSCITKVZBZUASD|2024-12-25 |LWZKBTYPBK |7654       |OKURSCZLNSTOJAT|2024-10-07 |VBRCEIQTEW |3938       |KTQMVTLDLTVZRSA|2019-12-25  |JOSLHMXESN  |5561        |XUALXESBZMRIGFR|2019-08-22  |RQEJQGUXFN  |4859        |JMCQBJIOIIBUJRT|2022-10-21  |YOLQVZNCON  |1381        |CSESTEMFHTQTZUV|2018-05-29  |MHTXSJUIDX  |5371        |KVBOVFOUNMKBYOB|2018-08-21  |ZZJXQIOYJK  |2472        |HIEAPRZZMAULJXE|2024-01-23  |GFHKCOOILT  |7840        |FDGXEBUUVQCLLQD|2023-08-23  |CWELYAZEMP  |4155        |EUCCOMRDTDUDMPN|2024-04-17  |TFUYCRCWLP  |7130        |XDEOOGYURWSOSDS|2021-04-28  |GASSQLSKKY  |3080        |MAEHYLKOEFJTQSN|2020-02-07  |GHBQZAHGEZ  |7908        |
|MHDNKBFBPZ |4004       |VZBUSMZSYNGWYXN|2018-04-24 |RPGFRHYFGA |6193       |HGIWGYUGJBVOWWB|2017-03-15 |ZMJZHLDSAP |7491       |LRTFLCEJQMCYJLE|2022-03-29  |LASUBDATIG  |8038        |GDRYHVCZNROJVWK|2023-03-13  |MSXIIFWYNK  |1088        |FENDBZFAXAACEKF|2022-01-28  |AUNUYCQQUV  |4069        |SJDJSFLVNBMKCBC|2018-01-08  |NKZKSFGBHF  |842         |GRJGTUKNFAHWXYQ|2020-11-23  |WGCNYAHMOY  |3553        |ZRIWAGPZQQLPWTD|2016-03-18  |UNOOMJQOFL  |9623        |LUNKGTRLJKBWLPN|2021-02-16  |LMQWBZQUMF  |8195        |RSPPSLRSYJBNVWW|2015-08-31  |KIHKWXWFVW  |4662        |XKZTDGYXEOEALRN|2022-01-04  |JFKTNRATQF  |1385        |CKTXGUJMUFNLBVN|2021-06-11  |GEGVTNSPMS  |5136        |
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+

Time taken for the operation: 0.5980069637298584 seconds

In [8]:
# import time

# # Start time
# start_time = time.time()

# # Query to get the first (start) and last (end) dates
# query = """
# SELECT MIN(extra_col_3) AS start_date, MAX(extra_col_3) AS end_date
# FROM nyc.taxis_1000_50COLUMNS
# """

# # Execute the query
# result = spark.sql(query)

# # Show the result
# result.show(truncate=False)

# # End time
# end_time = time.time()

# # Calculate the duration
# execution_time = end_time - start_time

# # Print the time taken
# print(f"Time taken for the operation: {execution_time} seconds")

+----------+----------+
|start_date|end_date  |
+----------+----------+
|2015-03-09|2025-02-22|
+----------+----------+

Time taken for the operation: 1.1512253284454346 seconds

In [12]:
# spark.sql("SELECT COUNT(*) AS total_records FROM demo.nyc.taxis_1000_50COLUMNS;").show()

+-------------+
|total_records|
+-------------+
|         1010|
+-------------+

In [28]:
# Use Spark SQL to describe the table and see its columns
spark.sql("DESCRIBE nyc.taxis_100M_50COLUMNS").show(truncate=False)

+------------+---------+-------+
|col_name    |data_type|comment|
+------------+---------+-------+
|extra_col_0 |string   |NULL   |
|extra_col_1 |int      |NULL   |
|extra_col_2 |string   |NULL   |
|extra_col_3 |date     |NULL   |
|extra_col_4 |string   |NULL   |
|extra_col_5 |int      |NULL   |
|extra_col_6 |string   |NULL   |
|extra_col_7 |date     |NULL   |
|extra_col_8 |string   |NULL   |
|extra_col_9 |int      |NULL   |
|extra_col_10|string   |NULL   |
|extra_col_11|date     |NULL   |
|extra_col_12|string   |NULL   |
|extra_col_13|int      |NULL   |
|extra_col_14|string   |NULL   |
|extra_col_15|date     |NULL   |
|extra_col_16|string   |NULL   |
|extra_col_17|int      |NULL   |
|extra_col_18|string   |NULL   |
|extra_col_19|date     |NULL   |
+------------+---------+-------+
only showing top 20 rows

In [27]:
from pyspark.sql import SparkSession
import random
from datetime import datetime, timedelta
import time

# Define table name
table_name = "demo.nyc.taxis_100M_50COLUMNS"  # Change this to your actual table

# Step 1: Get total records before update
start_time = time.time()
total_records_before = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]
print(f"Total records before update: {total_records_before}")

# Step 2: Ask user input for update percentage
update_percentage = float(input("Enter percentage of records to update: "))

# Step 3: Calculate records to update
num_records_to_update = max(1, int((update_percentage / 100) * total_records_before))
print(f"Updating {num_records_to_update} records.")

# Step 4: Get table schema (cached once)
schema_df = spark.sql(f"DESCRIBE {table_name}").collect()
schema_dict = {row["col_name"]: row["data_type"] for row in schema_df if not row["col_name"].startswith("#")}
columns = list(schema_dict.keys())

# Step 5: Function to generate random values with correct data types for update
def generate_random_value(data_type):
    if "int" in data_type:
        return random.randint(1, 10000)  # INT values
    elif "string" in data_type:
        return f"Random_{random.randint(100, 999)}"  # STRING values
    elif "date" in data_type:
        return (datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')  # DATE values
    else:
        return "NULL"

# Step 6: Update existing records in bulk
update_queries = []
for _ in range(num_records_to_update):
    # Pick a random record to update (you can add specific conditions if needed)
    random_id = random.randint(1, total_records_before)  # Assuming there's a primary key to target
    update_clause = ", ".join([f"{col_name} = '{generate_random_value(schema_dict[col_name])}'" for col_name in columns])
    update_queries.append(f"UPDATE {table_name} SET {update_clause} WHERE <primary_key_column> = {random_id}")  # Replace <primary_key_column> with actual primary key column

# Step 7: Execute the update queries
for query in update_queries:
    spark.sql(query)

# Step 8: Get total records after update (if needed, to verify)
# total_records_after = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]

# Step 9: Print final output
end_time = time.time()
# print(f"Total records after update: {total_records_after}")
print(f"✅ Successfully updated {num_records_to_update} records!")
print(f"⏳ Total time taken for update: {round(end_time - start_time, 2)} seconds.")

Total records before update: 100000000

Enter percentage of records to update:  1

Updating 1000000 records.

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near '<'.(line 1, pos 1406)

== SQL ==
UPDATE demo.nyc.taxis_100M_50COLUMNS SET extra_col_0 = 'Random_778', extra_col_1 = '6848', extra_col_2 = 'Random_594', extra_col_3 = '2024-06-05', extra_col_4 = 'Random_622', extra_col_5 = '1083', extra_col_6 = 'Random_628', extra_col_7 = '2024-10-13', extra_col_8 = 'Random_449', extra_col_9 = '937', extra_col_10 = 'Random_584', extra_col_11 = '2024-03-12', extra_col_12 = 'Random_345', extra_col_13 = '2415', extra_col_14 = 'Random_380', extra_col_15 = '2024-07-11', extra_col_16 = 'Random_104', extra_col_17 = '3383', extra_col_18 = 'Random_842', extra_col_19 = '2024-12-09', extra_col_20 = 'Random_576', extra_col_21 = '4270', extra_col_22 = 'Random_932', extra_col_23 = '2024-04-11', extra_col_24 = 'Random_169', extra_col_25 = '2223', extra_col_26 = 'Random_540', extra_col_27 = '2024-12-18', extra_col_28 = 'Random_851', extra_col_29 = '5201', extra_col_30 = 'Random_827', extra_col_31 = '2024-09-15', extra_col_32 = 'Random_144', extra_col_33 = '666', extra_col_34 = 'Random_127', extra_col_35 = '2024-11-22', extra_col_36 = 'Random_479', extra_col_37 = '3089', extra_col_38 = 'Random_146', extra_col_39 = '2024-12-18', extra_col_40 = 'Random_694', extra_col_41 = '8991', extra_col_42 = 'Random_331', extra_col_43 = '2024-12-09', extra_col_44 = 'Random_250', extra_col_45 = '2329', extra_col_46 = 'Random_278', extra_col_47 = '2025-02-03', extra_col_48 = 'Random_277', extra_col_49 = '4037' WHERE <primary_key_column> = 13613686
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------^^^

In [34]:
from pyspark.sql import SparkSession
import random
from datetime import datetime, timedelta
import time

# Define table name
table_name = "demo.nyc.taxis_100M_50COLUMNS"  # Change this to your actual table

# Step 1: Get total records before update
start_time = time.time()
total_records_before = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]
print(f"Total records before update: {total_records_before}")

# Step 2: Ask user input for update percentage
update_percentage = float(input("Enter percentage of records to update: "))

# Step 3: Calculate records to update
num_records_to_update = max(1, int((update_percentage / 100) * total_records_before))
print(f"Updating {num_records_to_update} records.")

# Step 4: Get table schema (cached once)
schema_df = spark.sql(f"DESCRIBE {table_name}").collect()
schema_dict = {row["col_name"]: row["data_type"] for row in schema_df if not row["col_name"].startswith("#")}
columns = list(schema_dict.keys())

# Step 5: Function to generate random values with correct data types for update
def generate_random_value(data_type):
    if "int" in data_type.lower():
        return random.randint(1, 10000)  # INT values
    elif "string" in data_type.lower():
        return f"Random_{random.randint(100, 999)}"  # STRING values
    elif "date" in data_type.lower():
        return (datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')  # DATE values
    else:
        return "NULL"

# Step 6: Generate random updates without using WHERE clause or JOIN
update_queries = []
for _ in range(num_records_to_update):
    update_clause = ", ".join([f"{col_name} = '{generate_random_value(schema_dict[col_name])}'" for col_name in columns])
    update_queries.append(f"UPDATE {table_name} SET {update_clause}")  # No WHERE clause used

# Step 7: Execute the update queries
for query in update_queries:
    spark.sql(query)

# Step 8: Get total records after update (if needed, to verify)
# total_records_after = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]

# Step 9: Print final output
end_time = time.time()
# print(f"Total records after update: {total_records_after}")
print(f"✅ Successfully updated {num_records_to_update} records!")
print(f"⏳ Total time taken for update: {round(end_time - start_time, 2)} seconds.")

Total records before update: 10000000

Enter percentage of records to update:  1

Updating 100000 records.

25/02/26 12:09:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/02/26 12:09:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/02/26 12:09:06 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/02/26 12:09:06 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/02/26 12:09:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/02/26 12:09:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/02/26 12:09:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/02/26 12:09:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/opt/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/usr/local/lib/python3.9/socket.py", line 704, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt:

In [21]:
# from pyspark.sql import SparkSession
# import random
# from datetime import datetime, timedelta
# import time

# # Define table name
# table_name = "demo.nyc.taxis_1000_50COLUMNS"  # Change this to your actual table

# # Step 1: Get total records before insert
# start_time = time.time()
# total_records_before = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]
# print(f"Total records before insert: {total_records_before}")

# # Step 2: Ask user input for insert percentage
# insert_percentage = float(input("Enter percentage of records to insert: "))

# # Step 3: Calculate records to insert
# num_records = max(1, int((insert_percentage / 100) * total_records_before))
# print(f"Inserting {num_records} new records.")

# # Step 4: Get table schema (cached once)
# schema_df = spark.sql(f"DESCRIBE {table_name}").collect()
# schema_dict = {row["col_name"]: row["data_type"] for row in schema_df if not row["col_name"].startswith("#")}
# columns = list(schema_dict.keys())

# # Step 5: Function to generate random values with correct data types
# def generate_random_value(data_type):
#     if "int" in data_type:
#         return str(random.randint(1, 10000))  # INT values
#     elif "string" in data_type:
#         return f"'Random_{random.randint(100, 999)}'"  # STRING values
#     elif "date" in data_type:
#         return f"CAST('{(datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')}' AS DATE)"  # DATE values
#     else:
#         return "NULL"

# # Step 6: Insert new records in bulk
# insert_values = []
# for _ in range(num_records):
#     values = [generate_random_value(schema_dict[col_name]) for col_name in columns]
#     insert_values.append(f"({', '.join(values)})")

# insert_query = f"INSERT INTO {table_name} VALUES {', '.join(insert_values)}"
# spark.sql(insert_query)

# # Step 7: Get total records after insert
# #total_records_after = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]

# # Step 8: Print final output
# end_time = time.time()
# #print(f"Total records after insert: {total_records_after}")
# print(f"✅ Successfully inserted {num_records} new records!")
# print(f"⏳ Total time taken: {round(end_time - start_time, 2)} seconds.")

Total records before insert: 1040

Enter percentage of records to insert:  1

Inserting 10 new records.
✅ Successfully inserted 10 new records!
⏳ Total time taken: 2.86 seconds.

In [22]:
spark.sql("SELECT COUNT(*) AS total_records FROM demo.nyc.taxis_1000_50COLUMNS;").show()

+-------------+
|total_records|
+-------------+
|         1050|
+-------------+