In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("records").getOrCreate()

25/03/03 07:47:56 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [13]:
# Switch to the 'nyc' database
spark.sql("USE nyc")

# List all tables in the 'nyc' database
spark.sql("SHOW TABLES").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|      nyc|           taxis_100|      false|
|      nyc|     taxis_100M_time|      false|
|      nyc|taxis_1000_50COLUMNS|      false|
|      nyc|            taxis_1B|      false|
|      nyc|taxis_100_50COLUM...|      false|
|      nyc|taxis_100000_50CO...|      false|
|      nyc|            taxis_1L|      false|
|      nyc|          taxis_1000|      false|
|      nyc|            taxis_10|      false|
|      nyc|   taxis_1L_5COLUMNS|      false|
|      nyc|         taxis_10000|      false|
|      nyc|            taxis_1M|      false|
|      nyc|          taxis_1L_5|      false|
|      nyc|          taxis_10_M|      false|
|      nyc|taxis_1000_50COLU...|      false|
|      nyc|  taxis_10_50COLUMNS|      false|
|      nyc|           taxis_10K|      false|
|      nyc|            taxis_1K|      false|
|      nyc|           taxis_10L|      false|
|      nyc|        taxis_5_100M|      false|
+---------+--------------------+-----------+
only showing top 20 rows

In [25]:
# Use Spark SQL to describe the table and see its columns
spark.sql("DESCRIBE nyc.taxis_10M_50COLUMNS").show(truncate=False)

+------------+---------+-------+
|col_name    |data_type|comment|
+------------+---------+-------+
|extra_col_0 |string   |NULL   |
|extra_col_1 |int      |NULL   |
|extra_col_2 |string   |NULL   |
|extra_col_3 |date     |NULL   |
|extra_col_4 |string   |NULL   |
|extra_col_5 |int      |NULL   |
|extra_col_6 |string   |NULL   |
|extra_col_7 |date     |NULL   |
|extra_col_8 |string   |NULL   |
|extra_col_9 |int      |NULL   |
|extra_col_10|string   |NULL   |
|extra_col_11|date     |NULL   |
|extra_col_12|string   |NULL   |
|extra_col_13|int      |NULL   |
|extra_col_14|string   |NULL   |
|extra_col_15|date     |NULL   |
|extra_col_16|string   |NULL   |
|extra_col_17|int      |NULL   |
|extra_col_18|string   |NULL   |
|extra_col_19|date     |NULL   |
+------------+---------+-------+
only showing top 20 rows

In [2]:
spark.sql("SELECT * FROM nyc.taxis_10M_50COLUMNS LIMIT 10").show(truncate=False)

25/03/03 07:48:12 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
25/03/03 07:48:12 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
25/03/03 07:48:16 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
25/03/03 07:48:16 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore UNKNOWN@172.18.0.6
25/03/03 07:48:16 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException
25/03/03 07:48:20 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|extra_col_0|extra_col_1|extra_col_2    |extra_col_3|extra_col_4|extra_col_5|extra_col_6    |extra_col_7|extra_col_8|extra_col_9|extra_col_10   |extra_col_11|extra_col_12|extra_col_13|extra_col_14   |extra_col_15|extra_col_16|extra_col_17|extra_col_18   |extra_col_19|extra_col_20|extra_col_21|extra_col_22   |extra_col_23|extra_col_24|extra_col_25|extra_col_26   |extra_col_27|extra_col_28|extra_col_29|extra_col_30   |extra_col_31|extra_col_32|extra_col_33|extra_col_34   |extra_col_35|extra_col_36|extra_col_37|extra_col_38   |extra_col_39|extra_col_40|extra_col_41|extra_col_42   |extra_col_43|extra_col_44|extra_col_45|extra_col_46   |extra_col_47|extra_col_48|extra_col_49|
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|APVEGXVIGK |957        |XUWCZQRAGYJRUCA|2017-03-29 |HWOILLSGEY |8577       |QLFKTDLWMEONSGM|2017-12-26 |IRBNZXLBVS |3437       |OHZLLTNVGJVJMFU|2015-07-04  |KTJTJOYTBZ  |8428        |BTTLTSPCAZCNFCH|2024-04-18  |HTKDZLHIWO  |6627        |LENKWHGDFXQZZQN|2020-05-22  |VJJRHJDMTF  |1700        |STLEINPIJRLPKKK|2017-08-04  |SPJOSHZSOP  |274         |DSRESHHXZSXTLWM|2024-01-11  |EYFAIVVBDW  |9165        |IZLDMKWIHMXTAVK|2019-09-25  |BKUNWDNWPP  |5303        |ASOIGBUHPMXMIVR|2019-09-12  |OLMEPSNFKO  |6556        |ULUTPVUWVHTZWHH|2021-03-23  |FHOLVWKPCL  |8388        |TODDFKTGFSQSBGW|2019-07-22  |AVUZJGCTMX  |3404        |VBSHABZSSFAWLZR|2018-02-22  |GKQGYJGTOG  |7318        |
|IOHKGFICQD |3816       |NMEJNLKPFQVTTPG|2020-01-11 |KQMGZWRJPH |3989       |GBCSFDQBZQCFOZB|2023-09-18 |IAKUAIKGUC |3492       |EVOBDTRALBJLPLG|2023-07-18  |RHERBUERBD  |817         |OECLUWVJEIMRDXM|2023-03-07  |TGYDFNCCQJ  |4385        |OEUATNRGTMUUBFN|2017-08-18  |OPLYEHTBFA  |9507        |VQJAVYRJLRXRJCF|2021-11-01  |MQQZYOUIVW  |2215        |YVMTLQDSJLAMMLC|2019-03-03  |GPUUQCQCFF  |5179        |LQTHJGQRKKFUWET|2016-09-14  |BOPLUSPPSD  |680         |XHKWGNBWMKARHPF|2022-06-15  |GICTNUCJIO  |2148        |GHXVYXEHECVHRVU|2015-04-03  |PBMPVHBIGC  |8617        |UBJODVMOSOBHOQO|2017-10-17  |SJMRENHNUP  |9418        |YLOKFZIGKLVTIFW|2017-03-19  |NFASZKMKNU  |9388        |
|PNOAHWXGFE |5556       |BMUNICLFTEZJBZX|2025-02-07 |KXXUEKSVHF |5492       |VLHPKMPHMHIVRVX|2016-03-25 |LDACINZCCG |556        |NZZWVICIWBZVPSL|2018-02-03  |QJJIZCPMXK  |2906        |LUFPCFQAIPKJMAB|2021-01-30  |UEVBLQQNBB  |7678        |PWDSSWRQACJYXMU|2023-11-03  |KYZWBKYOWD  |5581        |LRINWKTQDGWUVXJ|2021-06-01  |RKDPEBDWMN  |460         |AEAVZIACRECPEVD|2022-09-29  |QHRBOUAIQX  |9334        |PZQLYEXYVXSRZIU|2023-10-28  |MRFJTKKDVC  |2816        |CKBHPDYHOAOSLJZ|2019-07-28  |CTIRTPVEAW  |4837        |MUQFHOEVEJWPDJC|2019-01-13  |TDIICJNCPB  |6613        |DYRCIIABLEWTTPA|2020-06-17  |OYXNWODQUD  |1977        |HVTAREKHVKODVJC|2019-05-08  |IEVMMLUXPK  |3387        |
|FYCCGQOSJN |9756       |URSOMILFQHGDUWV|2016-05-10 |PUREDVKZLJ |8444       |AKMVZVNJRAFIUTR|2022-03-16 |VZRTASRKHF |169        |JLMQBLTBEBPYOTQ|2023-10-15  |QROOARYFZY  |4433        |QOFIUPQOGYHNAJJ|2015-08-25  |POGXPMUYYG  |9549        |ZIOOQVEFFJKSUXF|2020-12-17  |EBZVDICITG  |699         |NADLOEZOPIWLEEI|2017-12-28  |FMGANGEDMV  |6287        |QFNTPAVBSQFYFRF|2016-03-27  |DOBJHWSUPE  |7101        |ZRVOUMMRVEMSFZD|2015-07-15  |JIVVITMXFE  |5205        |HOKFZVLAPIHATRF|2024-09-10  |BJMHDGYWXG  |6734        |GKCQFUGHFACCLXX|2015-07-07  |LPWKAKEFZO  |1549        |GLOWSHIKTOUKTTC|2017-10-31  |HYSHAYUYWN  |3810        |YEPHINRUNYHXRKH|2024-06-08  |GBOCQYQLSQ  |6303        |
|XIJXEAYSXZ |4762       |ETNRNDZFIYFCLYJ|2018-02-24 |ANGOUKUMIG |7534       |CLGVZHDSRZLCDEL|2019-10-02 |HUAICOFUUD |7460       |KMQPULSBQNIAVHE|2015-02-28  |IJDGEJQGAI  |7323        |YVXIRHBLSQMELTB|2021-10-28  |LQEOBZHVHJ  |5808        |GOCUNTQOHLEXGSW|2023-11-09  |LRPHRQWMVS  |1844        |DZGIZRFWEVFQHEY|2015-10-25  |SADDJYZKOI  |9374        |OKNVCBJLGHMGEXZ|2019-10-26  |NZZGVPAXZI  |4989        |FRXBDDKVLXWZXAA|2021-01-16  |NFKQWIECGP  |8522        |VLMJZOXFZYUEPUI|2021-12-06  |EBEBNJZKDR  |6899        |RMSIVUIWSMKLXQR|2022-02-09  |REBRVNNTIW  |134         |UVQKDJZBUCXJVAK|2016-11-21  |PSSCQKWPWL  |1293        |BKPLLXXQARVPHHO|2022-04-02  |LVORTJYLQZ  |2776        |
|UICHLFIKUI |9798       |NJDUTIRNLRCUFON|2015-10-13 |KZJHMEPKEH |9807       |JVPFKOKUMCTHMPT|2017-05-04 |HXIMIOMKSU |2306       |RNMLZBRZKZMOTXW|2024-03-08  |TSGOINIOPU  |4541        |BSNJCMHFIMGBGLA|2016-02-02  |UQFEOVWWZI  |4586        |YQCESKUVPRMZKUW|2019-01-16  |HBCDUMBXFO  |5274        |PDBQRVGDBUHUWNX|2023-03-20  |XDOFBJZVRO  |3140        |HROGDCQLBGWRAXR|2020-08-12  |FBNWUVEJVY  |3377        |JUZAHJYGVCDLVHH|2023-11-22  |QYBDYQASPN  |9861        |CMERHOFWEGYPEEY|2023-01-16  |ONPQUTBNLM  |6580        |ZHXTLFIKAHDFTZC|2021-08-15  |KVLWPTEJTA  |2553        |VDYWRHDFHPAHJIG|2024-11-23  |YTCFUYQAYN  |518         |WGGILAPMRBCSBIJ|2015-06-17  |DFICYUNOPA  |1544        |
|GUQKYCBQRS |3809       |YLCYSQKKRJDZDJM|2022-07-08 |QXRILUJZEF |9721       |ULBPZKMKNBVXKXV|2017-07-28 |XOOCQUULUR |1120       |SVODJCGDCRYPYAK|2017-07-24  |RGQPWWVGLT  |6409        |LSXFHJAHEDRVPAL|2015-10-02  |IAAQWUNLMV  |8665        |LXPHCVIOFDSAHVJ|2019-04-13  |YVIOONCMII  |4259        |RGIEHGZLUTGRUBY|2019-12-20  |LERDZMSMCK  |603         |HAOKAZMHXXETJIJ|2021-06-03  |PONSSIFEKS  |1622        |WFHDRECVUDBSQQQ|2019-11-29  |TEZKMRGLNH  |682         |RMBHUAEBTEGHHVY|2019-02-24  |AHZTBLIRXN  |7998        |EVJVBXUDOIKYJUZ|2025-01-27  |TJOLEUIGCP  |4945        |FPACPFDGQHFZPGZ|2024-07-10  |PVLUWWIFLR  |4923        |KASGSPGWRDONQHA|2021-08-26  |LZXFJOHIVK  |3427        |
|KKRWUJWAVT |1871       |DNZKSBOUXAPDPUQ|2019-08-29 |FBMBIXKSZX |280        |XKCJQBHWAPIINSJ|2015-11-24 |UWIWZIBOAC |2753       |QTPXKZZJDLLMMKJ|2022-06-03  |BOPZUUXAHB  |6799        |SBRGNGMYKVULSET|2018-12-09  |WNIFMRAXII  |4563        |GGBQWHGCZQYNFSU|2016-05-22  |OEUOWGJPTD  |145         |LFKDSVJTRXNUOCR|2022-12-26  |YPPGYCHNQU  |7717        |RSCTDYBRBEOVPES|2023-07-14  |BARPBDNCUL  |6886        |BEJBWXEEBIETSTT|2017-12-23  |BSLZLTTUDM  |7433        |XOIGASFMCWYPJIC|2022-12-11  |SGSIVEEFGG  |4536        |CHQYTIAVGLBAUSG|2016-10-15  |ZSZDTJIZUN  |6349        |LUEIBBWBBDIXIFF|2024-10-15  |WSJFLBQIAT  |2208        |JEEHCHPYTJZPSMJ|2017-11-29  |HLABNCHMQY  |2731        |
|ISBRPZGFWJ |5843       |ETISWYTWSLMWYIC|2020-02-06 |ZNFLLNCZYM |2695       |PUXBWLASYMUUFUF|2022-07-12 |PXPTRAZXJG |4900       |PLVRQNUOSADYJFQ|2017-05-15  |IWJUFOGFZA  |9487        |PPITYLMWFDWFIGV|2024-02-08  |CLLPVESDJU  |6608        |JBJKQJMDORCAVUZ|2022-09-01  |HVTXAOWZHO  |6886        |FTHPBKUSBVSDIZQ|2018-12-29  |AZTEHTFCOK  |2229        |PFBPHOVNHFTLTQD|2015-04-18  |BRROYVJAZZ  |1320        |PJWRVZEQRLHHIBH|2020-10-14  |OJPXNWQHNY  |6732        |LYDOZZBKMAOHGNB|2016-09-26  |OTNJCOYVIU  |9260        |GEEYHMILBRWEFMR|2018-11-01  |FWCWWQGCIL  |3016        |LVREILAJCLILBYC|2018-09-14  |TWJZEOZMES  |1858        |JKVSHFUHLIVRBGH|2019-07-28  |JHEOBUCUHZ  |5599        |
|KFHZJIVFAU |5814       |LVAELMMWVAGMFOH|2023-12-20 |DKSABLGLFB |5824       |EMZDPAVINGYWEGJ|2022-09-03 |CLGAZOPCJG |9240       |AXBBMYHFGZUODKZ|2019-03-05  |HTFNBHTWAG  |2418        |IQEJPUTXJYZKAIW|2018-06-08  |WIVFXYBSNH  |3319        |NRKVQDDHIYNATPO|2020-03-13  |DXMERHEHES  |8330        |KNFLETQROAAPSAF|2021-09-14  |GPQRGRLWQU  |378         |WVKRCGIPIBRDCTA|2016-05-24  |LJBPSMABGC  |1761        |ZOUBZZYEROICSAS|2021-02-16  |VQUCUYYKYT  |7039        |YOXTZEOGQXMYSMY|2022-07-23  |UXBTHRSHMW  |4250        |FTYRUTWYZZKCFJS|2021-07-01  |XWXKOALQBC  |3333        |AWPACKQRXWVCVXG|2018-07-31  |KXDGBTISWS  |3639        |EFGYBGNQRSJCABW|2024-09-15  |PXXKLUASPY  |8241        |
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+

In [7]:
# import time

# # Start time
# start_time = time.time()

# # Run the Spark SQL query
# spark.sql("SELECT * FROM nyc.taxis_100M_50COLUMNS LIMIT 10").show(truncate=False)

# # End time
# end_time = time.time()

# # Calculate the duration
# execution_time = end_time - start_time

# # Print the time taken
# print(f"Time taken for the operation: {execution_time} seconds")

+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|extra_col_0|extra_col_1|extra_col_2    |extra_col_3|extra_col_4|extra_col_5|extra_col_6    |extra_col_7|extra_col_8|extra_col_9|extra_col_10   |extra_col_11|extra_col_12|extra_col_13|extra_col_14   |extra_col_15|extra_col_16|extra_col_17|extra_col_18   |extra_col_19|extra_col_20|extra_col_21|extra_col_22   |extra_col_23|extra_col_24|extra_col_25|extra_col_26   |extra_col_27|extra_col_28|extra_col_29|extra_col_30   |extra_col_31|extra_col_32|extra_col_33|extra_col_34   |extra_col_35|extra_col_36|extra_col_37|extra_col_38   |extra_col_39|extra_col_40|extra_col_41|extra_col_42   |extra_col_43|extra_col_44|extra_col_45|extra_col_46   |extra_col_47|extra_col_48|extra_col_49|
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|CRVJYYFPRY |3405       |VHHGQHQDNMLMIPS|2017-07-08 |EHZCMVTYTR |6011       |PZDNHBTEJHUIFER|2017-03-19 |MPTVSDKRWI |7538       |QSZXRCZQDMMERBV|2017-02-01  |NUWRTQHZVV  |8265        |HYQFXWKEJQGWIIO|2020-07-18  |BDQMDEAWWT  |6151        |FZLOSWRWFGPGJPY|2022-05-03  |JLDHZUWJZF  |7415        |VQPNVOEYZEHPAAO|2015-08-08  |KAKFZOAYII  |1381        |HBGHKXMXOYDDHTP|2020-08-22  |OVLPLOSMES  |5376        |QHMUTENGRMPYXJM|2019-05-15  |SZEVCAXDGQ  |3266        |NBREANDKYAJEQIL|2020-04-12  |ZYBZQERESV  |8834        |OANCJRHRNWTIZCP|2016-10-20  |TUZMJVVYHP  |4471        |XEXDVCTDMUJNSKU|2023-01-23  |TTJFJKQBFA  |8014        |MLZIXNJYRIVRWAI|2019-02-04  |QEABXWFKMP  |2650        |
|ZEVLBWPGQJ |6080       |SUOPKZFESSIWDIK|2024-11-04 |EOEXFTCYQY |1005       |SFLWNPFPESYQWMS|2015-03-16 |TQBNMXCXBG |7449       |WHPUWPNIHFDDZWL|2016-05-21  |OZOHEUGTJJ  |156         |DLIVXKMLTUVTNVB|2017-07-20  |TWZJUTWMCT  |1198        |ARDJCYAOBGABCPQ|2019-06-13  |RFNIRMFACI  |4400        |QMHNATZVXWENFEI|2024-10-19  |YGRMLPRUVU  |7722        |LBJTHRNQUAUXERA|2016-04-05  |OGOQUILPBV  |3728        |YGYPJOMHKCLXCJU|2023-08-19  |MAQBDKWESA  |4934        |RJYNEDEPGGMFNIQ|2019-04-06  |SMADYJNTCL  |9976        |CSXDQLXHSISZZBG|2020-01-13  |ZWPGPLRLLD  |7943        |CZMLTVPUYYFEQNZ|2024-01-05  |UCDGFSACQY  |4087        |YBGGQELRIQJYBCG|2024-06-14  |JSYEADUWSP  |298         |
|ESTOMZIZJS |7655       |XTMQERCZSOJXIEQ|2020-02-26 |PSGSMRGEFC |185        |IKSWPIPJTFRCAPM|2022-01-29 |PIRPFLNTSV |5045       |CSKIFKPNFVMPFAO|2021-03-20  |XVAVGZDMKO  |8084        |CCAKAQWSCTLGUCY|2017-03-03  |BOAZBTOCUF  |6811        |LYHIKSZPZCBRNSJ|2016-07-13  |RVBCOZAMDE  |8822        |PXSKFCLZZQRRTKW|2016-10-05  |FLUCNFNMFE  |2266        |VOWZICJEVPDKMWO|2017-12-06  |USCBGILZUI  |5251        |WLOKHDJWXSZSITE|2015-07-05  |BBGZRONGRG  |8938        |HKTKAXXJIBTCBUE|2017-05-13  |RXTIBGTUNY  |6989        |UNYUUQPBTYEYKMV|2020-01-14  |JVOPTTYSYG  |6315        |CMCDAVDVYBBOMDN|2022-07-17  |DGCGFFSJIS  |4781        |SPXFPARBAZTHRDH|2019-10-07  |QKXERJXMAU  |1327        |
|MNEFJUDFRU |2319       |UABZVIIKRDPBEVB|2016-01-08 |JFUPERNUAD |817        |NGPPXDHEIDNZYEP|2023-07-25 |KSRLXACVJP |772        |MRMSLMPOQDSIREV|2017-05-28  |SPIGXYAMKO  |5005        |NWBCYYFPVKRDRYU|2019-07-24  |HSSVEINPMN  |4513        |VXGXXQHCUXZMRUI|2016-09-22  |NXLMRFXRVJ  |2489        |BGHMBRUEHQVNTPE|2021-07-08  |INHDTTUATX  |1271        |EORXHVEAEPWNFJH|2018-12-21  |HSIYBSXWRW  |1519        |FDTAFBHYHOVCLFQ|2020-02-03  |AOWWWMDZEV  |5531        |ATEVUXMXPRZEOVE|2022-05-10  |PHALBHWQZD  |8957        |KCZYBAVQDYAHEKZ|2024-11-12  |YZLBICSNBH  |1813        |HCGNFIGJTDRHTUU|2022-02-16  |XMPTHRPGPA  |9616        |XAIFPRUHIZFHREA|2017-12-31  |YEPNWISIUC  |290         |
|QZICPJYGYS |3172       |FPVZIQDURFYAICG|2020-02-27 |LAGCOCZDZU |8085       |HCUWSFXFQEWTJYT|2018-11-04 |QBWHBOIZDO |6572       |JFHHLULQOYJGMIU|2019-04-29  |AIIUFEQUEO  |5838        |LBZCFDANBFLWNDB|2019-10-25  |XDNVCSJTDS  |9865        |YMOIJBPFAYOPUYV|2019-08-31  |NIRBVUZUQM  |6312        |QWENGXAZEFBBACL|2024-06-06  |CTGOHEJXZF  |3457        |VSBJZIYPROBEWIQ|2020-06-26  |PKMSUTCONU  |212         |VFXKMFQXWOVOGQS|2018-07-12  |FQUNKMRBVA  |905         |HMQNZPGRTGHGXCK|2016-09-30  |BDLXUVNNLJ  |8503        |BPYOHSTVOMNBQWC|2016-05-15  |WLJYUCDGIM  |8852        |ANSVCKXHNNGGSSJ|2016-03-07  |LMKCPGIIHE  |9367        |HRPWFVKLDAWWZBN|2018-09-18  |DQQAYCSOKN  |8600        |
|SEATAXWGIO |1762       |HNMMWGBNTWTNKRA|2023-07-31 |XIRJAIOAGJ |6748       |WRBEBOGRSNZFNJL|2020-12-10 |ZFRZGXUZZX |8322       |DAOGZISJPCXNSKV|2018-02-26  |MKKGLUXUJC  |3882        |CGYYIMXXEWEIFKN|2019-03-11  |GVPQYWZGTR  |9203        |BZROEMGIPGBCULU|2015-09-19  |NSNJKTCQSH  |8950        |DBTWMXPVLXYGVEZ|2020-09-20  |UXBJIXFULV  |8805        |WDGAGNBYNGKOCDX|2022-12-26  |KPRFZBHBQS  |3396        |ORIBSCCFSHCAICW|2016-05-21  |LAUHNGPNWY  |8719        |PHVIUTIWQEPIQWQ|2023-10-17  |UZQMOAQTZO  |4728        |MOIPFSBXOOXBUEW|2020-10-13  |ZBZBJVYZQK  |135         |KHLWROGDACAPYQB|2019-05-27  |STCLPYXYMQ  |7427        |RXRUEEBUNRFIGZR|2023-04-29  |TUGKKSLEWY  |7473        |
|FDQKGJNHQV |8611       |AODVESKGNLHNBII|2016-12-09 |RETPGRVXGA |7994       |DPCEHFUHPCOZRXA|2023-03-04 |GLMGEZZQSQ |3614       |YLCBYGMRAYLKXPI|2019-03-06  |UVBJFWHQIO  |5241        |BNAPFATSKQFCZKG|2025-02-19  |GOQLRKBIFI  |7388        |GBXVNUKEDOQWJXX|2024-10-10  |YCPKSGOCBR  |4584        |IEMECLIZLLAGONB|2015-08-19  |QXOHYPCJWP  |6027        |OPBDPKJXCRMKAHQ|2019-05-29  |PAZYCHQXEX  |1211        |KJMUGOXASXNLDYL|2023-09-24  |BATYVQTGSX  |6250        |VKACEMAVWEVRCXZ|2023-01-21  |PDRFWXHSWD  |8260        |UAGBNDPWJFPKITG|2024-07-23  |DLSMKPLEHS  |5960        |DKWZNLYUFYHHBBI|2020-09-08  |GDMHOSTFEC  |8409        |YFJDUQGBIWVTZZU|2023-02-05  |GXCFDICRJI  |9023        |
|SHYLFLCXUN |8691       |PVLUCIJDGGIPZLH|2017-07-30 |GUYGMFXXYP |7327       |LQSBBIOVZHJTRIN|2024-11-22 |GMDNJYPOMJ |4050       |GEUNUOCBUWHQANT|2023-09-29  |NQCZUFPHWU  |815         |UVETRMLFAHPWYDS|2021-11-20  |PEYCTFQNTC  |9721        |BFDEYOIYUUOWRWW|2017-06-19  |PRKUVPMQGU  |7763        |QCVDTSYQNYLPVHO|2017-05-26  |FGZHPXEPDK  |842         |HEFFDQNFKBENAML|2020-07-07  |CXZMGKEVUK  |9926        |OZKZKMFWMFTMTWC|2020-09-12  |FHGKEZDGXQ  |4744        |HADFVZSCYJUISJM|2021-03-10  |YIMYULDZKX  |812         |EYJERBUZFOUMRMY|2015-08-27  |RMSEHMNKXK  |6121        |MKNSZABMOLBCQYO|2022-01-22  |RZRICVJABR  |5231        |GRGHBKZUJQKOKEO|2017-12-23  |ZQXNBNGYKG  |3712        |
|JMSZWNEWYO |7634       |HDSCITKVZBZUASD|2024-12-25 |LWZKBTYPBK |7654       |OKURSCZLNSTOJAT|2024-10-07 |VBRCEIQTEW |3938       |KTQMVTLDLTVZRSA|2019-12-25  |JOSLHMXESN  |5561        |XUALXESBZMRIGFR|2019-08-22  |RQEJQGUXFN  |4859        |JMCQBJIOIIBUJRT|2022-10-21  |YOLQVZNCON  |1381        |CSESTEMFHTQTZUV|2018-05-29  |MHTXSJUIDX  |5371        |KVBOVFOUNMKBYOB|2018-08-21  |ZZJXQIOYJK  |2472        |HIEAPRZZMAULJXE|2024-01-23  |GFHKCOOILT  |7840        |FDGXEBUUVQCLLQD|2023-08-23  |CWELYAZEMP  |4155        |EUCCOMRDTDUDMPN|2024-04-17  |TFUYCRCWLP  |7130        |XDEOOGYURWSOSDS|2021-04-28  |GASSQLSKKY  |3080        |MAEHYLKOEFJTQSN|2020-02-07  |GHBQZAHGEZ  |7908        |
|MHDNKBFBPZ |4004       |VZBUSMZSYNGWYXN|2018-04-24 |RPGFRHYFGA |6193       |HGIWGYUGJBVOWWB|2017-03-15 |ZMJZHLDSAP |7491       |LRTFLCEJQMCYJLE|2022-03-29  |LASUBDATIG  |8038        |GDRYHVCZNROJVWK|2023-03-13  |MSXIIFWYNK  |1088        |FENDBZFAXAACEKF|2022-01-28  |AUNUYCQQUV  |4069        |SJDJSFLVNBMKCBC|2018-01-08  |NKZKSFGBHF  |842         |GRJGTUKNFAHWXYQ|2020-11-23  |WGCNYAHMOY  |3553        |ZRIWAGPZQQLPWTD|2016-03-18  |UNOOMJQOFL  |9623        |LUNKGTRLJKBWLPN|2021-02-16  |LMQWBZQUMF  |8195        |RSPPSLRSYJBNVWW|2015-08-31  |KIHKWXWFVW  |4662        |XKZTDGYXEOEALRN|2022-01-04  |JFKTNRATQF  |1385        |CKTXGUJMUFNLBVN|2021-06-11  |GEGVTNSPMS  |5136        |
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+

Time taken for the operation: 0.5980069637298584 seconds

In [8]:
# import time

# # Start time
# start_time = time.time()

# # Query to get the first (start) and last (end) dates
# query = """
# SELECT MIN(extra_col_3) AS start_date, MAX(extra_col_3) AS end_date
# FROM nyc.taxis_1000_50COLUMNS
# """

# # Execute the query
# result = spark.sql(query)

# # Show the result
# result.show(truncate=False)

# # End time
# end_time = time.time()

# # Calculate the duration
# execution_time = end_time - start_time

# # Print the time taken
# print(f"Time taken for the operation: {execution_time} seconds")

+----------+----------+
|start_date|end_date  |
+----------+----------+
|2015-03-09|2025-02-22|
+----------+----------+

Time taken for the operation: 1.1512253284454346 seconds

In [17]:
spark.sql("SELECT COUNT(*) AS total_records FROM demo.nyc.taxis_10M_50COLUMNS;").show()

+-------------+
|total_records|
+-------------+
|     10000000|
+-------------+

In [15]:
spark.sql("DROP TABLE IF EXISTS demo.nyc.taxis_10M_50COLUMNS")

DataFrame[]

In [ ]:
# from pyspark.sql import SparkSession
# import random
# from datetime import datetime, timedelta
# import time

# # Define table name
# table_name = "demo.nyc.taxis_1K_50COLUMNS"  # Change this to your actual table

# # Step 1: Get total records before update
# start_time = time.time()
# total_records_before = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]
# print(f"Total records before update: {total_records_before}")

# # Step 2: Ask user input for update percentage
# update_percentage = float(input("Enter percentage of records to update: "))

# # Step 3: Calculate records to update
# num_records_to_update = max(1, int((update_percentage / 100) * total_records_before))
# print(f"Updating {num_records_to_update} records.")

# # Step 4: Get table schema (cached once)
# schema_df = spark.sql(f"DESCRIBE {table_name}").collect()
# schema_dict = {row["col_name"]: row["data_type"] for row in schema_df if not row["col_name"].startswith("#")}
# columns = list(schema_dict.keys())

# # Step 5: Function to generate random values with correct data types for update
# def generate_random_value(data_type):
#     if "int" in data_type:
#         return random.randint(1, 10000)  # INT values
#     elif "string" in data_type:
#         return f"Random_{random.randint(100, 999)}"  # STRING values
#     elif "date" in data_type:
#         return (datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')  # DATE values
#     else:
#         return "NULL"

# # Step 6: Update existing records in bulk
# update_queries = []
# for _ in range(num_records_to_update):
#     # Pick a random record to update (you can add specific conditions if needed)
#     random_id = random.randint(1, total_records_before)  # Assuming there's a primary key to target
#     update_clause = ", ".join([f"{col_name} = '{generate_random_value(schema_dict[col_name])}'" for col_name in columns])
#     update_queries.append(f"UPDATE {table_name} SET {update_clause} WHERE <primary_key_column> = {random_id}")  # Replace <primary_key_column> with actual primary key column

# # Step 7: Execute the update queries
# for query in update_queries:
#     spark.sql(query)

# # Step 8: Get total records after update (if needed, to verify)
# # total_records_after = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]

# # Step 9: Print final output
# end_time = time.time()
# # print(f"Total records after update: {total_records_after}")
# print(f"✅ Successfully updated {num_records_to_update} records!")
# print(f"⏳ Total time taken for update: {round(end_time - start_time, 2)} seconds.")

In [4]:
from pyspark.sql import SparkSession
import random
from datetime import datetime, timedelta
import time

# Define table name
table_name = "demo.nyc.taxis_10M_50COLUMNS"  # Change this to your actual table

# Step 1: Get total records before insert
start_time = time.time()
total_records_before = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]
print(f"Total records before insert: {total_records_before}")

# Step 2: Ask user input for insert percentage
insert_percentage = float(input("Enter percentage of records to insert: "))

# Step 3: Calculate records to insert
num_records = max(1, int((insert_percentage / 100) * total_records_before))
print(f"Inserting {num_records} new records.")

# Step 4: Get table schema (cached once)
schema_df = spark.sql(f"DESCRIBE {table_name}").collect()
schema_dict = {row["col_name"]: row["data_type"] for row in schema_df if not row["col_name"].startswith("#")}
columns = list(schema_dict.keys())

# Step 5: Function to generate random values with correct data types
def generate_random_value(data_type):
    if "int" in data_type:
        return str(random.randint(1, 10000))  # INT values
    elif "string" in data_type:
        return f"'Random_{random.randint(100, 999)}'"  # STRING values
    elif "date" in data_type:
        return f"CAST('{(datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')}' AS DATE)"  # DATE values
    else:
        return "NULL"

# Step 6: Insert new records in bulk
insert_values = []
for _ in range(num_records):
    values = [generate_random_value(schema_dict[col_name]) for col_name in columns]
    insert_values.append(f"({', '.join(values)})")

insert_query = f"INSERT INTO {table_name} VALUES {', '.join(insert_values)}"
spark.sql(insert_query)

# Step 7: Get total records after insert
#total_records_after = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]

# Step 8: Print final output
end_time = time.time()
#print(f"Total records after insert: {total_records_after}")
print(f"✅ Successfully inserted {num_records} new records!")
print(f"⏳ Total time taken: {round(end_time - start_time, 2)} seconds.")

Total records before insert: 10000000

Enter percentage of records to insert:  vv

ValueError: could not convert string to float: 'vv'

In [ ]:
from pyspark.sql import SparkSession
import time
from datetime import datetime

# Define table name
table_name = "demo.nyc.taxis_10M_50COLUMNS"  # Change this to your actual table

# Step 1: Get total records before update
start_time = time.time()
total_records_before = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]
print(f"Total records before update: {total_records_before}")

# Step 2: Ask user input for update percentage (in terms of the total records)
update_percentage = float(input("Enter percentage of records to update: "))

# Step 3: Calculate records to update
num_records_to_update = max(1, int((update_percentage / 100) * total_records_before))
print(f"Updating {num_records_to_update} records.")

# Step 4: Get table schema (cached once)
schema_df = spark.sql(f"DESCRIBE {table_name}").collect()
schema_dict = {row["col_name"]: row["data_type"] for row in schema_df if not row["col_name"].startswith("#")}
columns = list(schema_dict.keys())

# Step 5: Update records in smaller batches
batch_size = 1000  # Set the batch size for updates

# Retrieve the IDs of the records to be updated (You could use any criteria to select records)
# Here, we will just update a subset of records using a column (e.g., `extra_col_0`) as the identifier
ids_to_update = spark.sql(f"SELECT extra_col_0 FROM {table_name} LIMIT {num_records_to_update}").collect()

# Start the batch update process
for batch_start in range(0, num_records_to_update, batch_size):
    batch_end = min(batch_start + batch_size, num_records_to_update)
    batch_ids = [row['extra_col_0'] for row in ids_to_update[batch_start:batch_end]]  # Get the IDs for the current batch

    # Construct the SQL query for the batch update
    update_queries = []
    for id_value in batch_ids:
        # Modify columns directly with business logic or static updates
        update_values = []
        update_values.append(f"extra_col_1 = extra_col_1 + 1")  # Example: Increment `extra_col_1`
        update_values.append(f"extra_col_2 = 'Updated'")        # Example: Update `extra_col_2` to 'Updated'
        update_values.append(f"extra_col_3 = CAST('{datetime.today().strftime('%Y-%m-%d')}' AS DATE)")  # Update `extra_col_3` to today's date
        
        # Construct the UPDATE query for this record
        update_query = f"UPDATE {table_name} SET {', '.join(update_values)} WHERE extra_col_0 = '{id_value}'"
        update_queries.append(update_query)

    # Execute the batch update queries
    for query in update_queries:
        spark.sql(query)

    print(f"✅ Batch {batch_start // batch_size + 1} of {((num_records_to_update - 1) // batch_size) + 1} updated.")

# Step 7: Get total records after update (in case any changes were made to the dataset itself)
total_records_after = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]

# Step 8: Print final output
end_time = time.time()
print(f"✅ Successfully updated {num_records_to_update} records!")
print(f"Total records after update: {total_records_after}")
print(f"⏳ Total time taken: {round(end_time - start_time, 2)} seconds.")

Total records before update: 10000000

Enter percentage of records to update:  1

Updating 100000 records.

In [12]:
spark.sql(f"DESCRIBE {table_name}").show()

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
| extra_col_0|   string|   NULL|
| extra_col_1|      int|   NULL|
| extra_col_2|   string|   NULL|
| extra_col_3|     date|   NULL|
| extra_col_4|   string|   NULL|
| extra_col_5|      int|   NULL|
| extra_col_6|   string|   NULL|
| extra_col_7|     date|   NULL|
| extra_col_8|   string|   NULL|
| extra_col_9|      int|   NULL|
|extra_col_10|   string|   NULL|
|extra_col_11|     date|   NULL|
|extra_col_12|   string|   NULL|
|extra_col_13|      int|   NULL|
|extra_col_14|   string|   NULL|
|extra_col_15|     date|   NULL|
|extra_col_16|   string|   NULL|
|extra_col_17|      int|   NULL|
|extra_col_18|   string|   NULL|
|extra_col_19|     date|   NULL|
+------------+---------+-------+
only showing top 20 rows