In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("records").getOrCreate()

In [3]:
# Switch to the 'nyc' database
spark.sql("USE nyc")

# List all tables in the 'nyc' database
spark.sql("SHOW TABLES").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|      nyc|           taxis_100|      false|
|      nyc|            taxis_1B|      false|
|      nyc|            taxis_1L|      false|
|      nyc|          taxis_1000|      false|
|      nyc|            taxis_10|      false|
|      nyc| taxis_10M_50COLUMNS|      false|
|      nyc|   taxis_1L_5COLUMNS|      false|
|      nyc|         taxis_10000|      false|
|      nyc|            taxis_1M|      false|
|      nyc|          taxis_1L_5|      false|
|      nyc|          taxis_10_M|      false|
|      nyc|taxis_1000_50COLU...|      false|
|      nyc|  taxis_10_50COLUMNS|      false|
|      nyc|           taxis_10K|      false|
|      nyc|taxis_100000_50CO...|      false|
|      nyc|            taxis_1K|      false|
|      nyc|           taxis_10L|      false|
|      nyc|        taxis_5_100M|      false|
|      nyc|           taxis_10M|      false|
|      nyc|taxis_1000_50COLUMNS|      false|
+---------+--------------------+-----------+
only showing top 20 rows

In [4]:
# Use Spark SQL to describe the table and see its columns
spark.sql("DESCRIBE nyc.taxis_1000_50COLUMNS").show(truncate=False)

25/02/25 18:43:57 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
25/02/25 18:43:57 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
25/02/25 18:44:14 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
25/02/25 18:44:14 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore UNKNOWN@172.18.0.6
25/02/25 18:44:15 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

+------------+---------+-------+
|col_name    |data_type|comment|
+------------+---------+-------+
|extra_col_0 |string   |NULL   |
|extra_col_1 |int      |NULL   |
|extra_col_2 |string   |NULL   |
|extra_col_3 |date     |NULL   |
|extra_col_4 |string   |NULL   |
|extra_col_5 |int      |NULL   |
|extra_col_6 |string   |NULL   |
|extra_col_7 |date     |NULL   |
|extra_col_8 |string   |NULL   |
|extra_col_9 |int      |NULL   |
|extra_col_10|string   |NULL   |
|extra_col_11|date     |NULL   |
|extra_col_12|string   |NULL   |
|extra_col_13|int      |NULL   |
|extra_col_14|string   |NULL   |
|extra_col_15|date     |NULL   |
|extra_col_16|string   |NULL   |
|extra_col_17|int      |NULL   |
|extra_col_18|string   |NULL   |
|extra_col_19|date     |NULL   |
+------------+---------+-------+
only showing top 20 rows

In [6]:
spark.sql("SELECT * FROM nyc.taxis_1000_50COLUMNS LIMIT 10").show(truncate=False)

25/02/25 11:37:21 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|extra_col_0|extra_col_1|extra_col_2    |extra_col_3|extra_col_4|extra_col_5|extra_col_6    |extra_col_7|extra_col_8|extra_col_9|extra_col_10   |extra_col_11|extra_col_12|extra_col_13|extra_col_14   |extra_col_15|extra_col_16|extra_col_17|extra_col_18   |extra_col_19|extra_col_20|extra_col_21|extra_col_22   |extra_col_23|extra_col_24|extra_col_25|extra_col_26   |extra_col_27|extra_col_28|extra_col_29|extra_col_30   |extra_col_31|extra_col_32|extra_col_33|extra_col_34   |extra_col_35|extra_col_36|extra_col_37|extra_col_38   |extra_col_39|extra_col_40|extra_col_41|extra_col_42   |extra_col_43|extra_col_44|extra_col_45|extra_col_46   |extra_col_47|extra_col_48|extra_col_49|
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|CRVJYYFPRY |3405       |VHHGQHQDNMLMIPS|2017-07-08 |EHZCMVTYTR |6011       |PZDNHBTEJHUIFER|2017-03-19 |MPTVSDKRWI |7538       |QSZXRCZQDMMERBV|2017-02-01  |NUWRTQHZVV  |8265        |HYQFXWKEJQGWIIO|2020-07-18  |BDQMDEAWWT  |6151        |FZLOSWRWFGPGJPY|2022-05-03  |JLDHZUWJZF  |7415        |VQPNVOEYZEHPAAO|2015-08-08  |KAKFZOAYII  |1381        |HBGHKXMXOYDDHTP|2020-08-22  |OVLPLOSMES  |5376        |QHMUTENGRMPYXJM|2019-05-15  |SZEVCAXDGQ  |3266        |NBREANDKYAJEQIL|2020-04-12  |ZYBZQERESV  |8834        |OANCJRHRNWTIZCP|2016-10-20  |TUZMJVVYHP  |4471        |XEXDVCTDMUJNSKU|2023-01-23  |TTJFJKQBFA  |8014        |MLZIXNJYRIVRWAI|2019-02-04  |QEABXWFKMP  |2650        |
|ZEVLBWPGQJ |6080       |SUOPKZFESSIWDIK|2024-11-04 |EOEXFTCYQY |1005       |SFLWNPFPESYQWMS|2015-03-16 |TQBNMXCXBG |7449       |WHPUWPNIHFDDZWL|2016-05-21  |OZOHEUGTJJ  |156         |DLIVXKMLTUVTNVB|2017-07-20  |TWZJUTWMCT  |1198        |ARDJCYAOBGABCPQ|2019-06-13  |RFNIRMFACI  |4400        |QMHNATZVXWENFEI|2024-10-19  |YGRMLPRUVU  |7722        |LBJTHRNQUAUXERA|2016-04-05  |OGOQUILPBV  |3728        |YGYPJOMHKCLXCJU|2023-08-19  |MAQBDKWESA  |4934        |RJYNEDEPGGMFNIQ|2019-04-06  |SMADYJNTCL  |9976        |CSXDQLXHSISZZBG|2020-01-13  |ZWPGPLRLLD  |7943        |CZMLTVPUYYFEQNZ|2024-01-05  |UCDGFSACQY  |4087        |YBGGQELRIQJYBCG|2024-06-14  |JSYEADUWSP  |298         |
|ESTOMZIZJS |7655       |XTMQERCZSOJXIEQ|2020-02-26 |PSGSMRGEFC |185        |IKSWPIPJTFRCAPM|2022-01-29 |PIRPFLNTSV |5045       |CSKIFKPNFVMPFAO|2021-03-20  |XVAVGZDMKO  |8084        |CCAKAQWSCTLGUCY|2017-03-03  |BOAZBTOCUF  |6811        |LYHIKSZPZCBRNSJ|2016-07-13  |RVBCOZAMDE  |8822        |PXSKFCLZZQRRTKW|2016-10-05  |FLUCNFNMFE  |2266        |VOWZICJEVPDKMWO|2017-12-06  |USCBGILZUI  |5251        |WLOKHDJWXSZSITE|2015-07-05  |BBGZRONGRG  |8938        |HKTKAXXJIBTCBUE|2017-05-13  |RXTIBGTUNY  |6989        |UNYUUQPBTYEYKMV|2020-01-14  |JVOPTTYSYG  |6315        |CMCDAVDVYBBOMDN|2022-07-17  |DGCGFFSJIS  |4781        |SPXFPARBAZTHRDH|2019-10-07  |QKXERJXMAU  |1327        |
|MNEFJUDFRU |2319       |UABZVIIKRDPBEVB|2016-01-08 |JFUPERNUAD |817        |NGPPXDHEIDNZYEP|2023-07-25 |KSRLXACVJP |772        |MRMSLMPOQDSIREV|2017-05-28  |SPIGXYAMKO  |5005        |NWBCYYFPVKRDRYU|2019-07-24  |HSSVEINPMN  |4513        |VXGXXQHCUXZMRUI|2016-09-22  |NXLMRFXRVJ  |2489        |BGHMBRUEHQVNTPE|2021-07-08  |INHDTTUATX  |1271        |EORXHVEAEPWNFJH|2018-12-21  |HSIYBSXWRW  |1519        |FDTAFBHYHOVCLFQ|2020-02-03  |AOWWWMDZEV  |5531        |ATEVUXMXPRZEOVE|2022-05-10  |PHALBHWQZD  |8957        |KCZYBAVQDYAHEKZ|2024-11-12  |YZLBICSNBH  |1813        |HCGNFIGJTDRHTUU|2022-02-16  |XMPTHRPGPA  |9616        |XAIFPRUHIZFHREA|2017-12-31  |YEPNWISIUC  |290         |
|QZICPJYGYS |3172       |FPVZIQDURFYAICG|2020-02-27 |LAGCOCZDZU |8085       |HCUWSFXFQEWTJYT|2018-11-04 |QBWHBOIZDO |6572       |JFHHLULQOYJGMIU|2019-04-29  |AIIUFEQUEO  |5838        |LBZCFDANBFLWNDB|2019-10-25  |XDNVCSJTDS  |9865        |YMOIJBPFAYOPUYV|2019-08-31  |NIRBVUZUQM  |6312        |QWENGXAZEFBBACL|2024-06-06  |CTGOHEJXZF  |3457        |VSBJZIYPROBEWIQ|2020-06-26  |PKMSUTCONU  |212         |VFXKMFQXWOVOGQS|2018-07-12  |FQUNKMRBVA  |905         |HMQNZPGRTGHGXCK|2016-09-30  |BDLXUVNNLJ  |8503        |BPYOHSTVOMNBQWC|2016-05-15  |WLJYUCDGIM  |8852        |ANSVCKXHNNGGSSJ|2016-03-07  |LMKCPGIIHE  |9367        |HRPWFVKLDAWWZBN|2018-09-18  |DQQAYCSOKN  |8600        |
|SEATAXWGIO |1762       |HNMMWGBNTWTNKRA|2023-07-31 |XIRJAIOAGJ |6748       |WRBEBOGRSNZFNJL|2020-12-10 |ZFRZGXUZZX |8322       |DAOGZISJPCXNSKV|2018-02-26  |MKKGLUXUJC  |3882        |CGYYIMXXEWEIFKN|2019-03-11  |GVPQYWZGTR  |9203        |BZROEMGIPGBCULU|2015-09-19  |NSNJKTCQSH  |8950        |DBTWMXPVLXYGVEZ|2020-09-20  |UXBJIXFULV  |8805        |WDGAGNBYNGKOCDX|2022-12-26  |KPRFZBHBQS  |3396        |ORIBSCCFSHCAICW|2016-05-21  |LAUHNGPNWY  |8719        |PHVIUTIWQEPIQWQ|2023-10-17  |UZQMOAQTZO  |4728        |MOIPFSBXOOXBUEW|2020-10-13  |ZBZBJVYZQK  |135         |KHLWROGDACAPYQB|2019-05-27  |STCLPYXYMQ  |7427        |RXRUEEBUNRFIGZR|2023-04-29  |TUGKKSLEWY  |7473        |
|FDQKGJNHQV |8611       |AODVESKGNLHNBII|2016-12-09 |RETPGRVXGA |7994       |DPCEHFUHPCOZRXA|2023-03-04 |GLMGEZZQSQ |3614       |YLCBYGMRAYLKXPI|2019-03-06  |UVBJFWHQIO  |5241        |BNAPFATSKQFCZKG|2025-02-19  |GOQLRKBIFI  |7388        |GBXVNUKEDOQWJXX|2024-10-10  |YCPKSGOCBR  |4584        |IEMECLIZLLAGONB|2015-08-19  |QXOHYPCJWP  |6027        |OPBDPKJXCRMKAHQ|2019-05-29  |PAZYCHQXEX  |1211        |KJMUGOXASXNLDYL|2023-09-24  |BATYVQTGSX  |6250        |VKACEMAVWEVRCXZ|2023-01-21  |PDRFWXHSWD  |8260        |UAGBNDPWJFPKITG|2024-07-23  |DLSMKPLEHS  |5960        |DKWZNLYUFYHHBBI|2020-09-08  |GDMHOSTFEC  |8409        |YFJDUQGBIWVTZZU|2023-02-05  |GXCFDICRJI  |9023        |
|SHYLFLCXUN |8691       |PVLUCIJDGGIPZLH|2017-07-30 |GUYGMFXXYP |7327       |LQSBBIOVZHJTRIN|2024-11-22 |GMDNJYPOMJ |4050       |GEUNUOCBUWHQANT|2023-09-29  |NQCZUFPHWU  |815         |UVETRMLFAHPWYDS|2021-11-20  |PEYCTFQNTC  |9721        |BFDEYOIYUUOWRWW|2017-06-19  |PRKUVPMQGU  |7763        |QCVDTSYQNYLPVHO|2017-05-26  |FGZHPXEPDK  |842         |HEFFDQNFKBENAML|2020-07-07  |CXZMGKEVUK  |9926        |OZKZKMFWMFTMTWC|2020-09-12  |FHGKEZDGXQ  |4744        |HADFVZSCYJUISJM|2021-03-10  |YIMYULDZKX  |812         |EYJERBUZFOUMRMY|2015-08-27  |RMSEHMNKXK  |6121        |MKNSZABMOLBCQYO|2022-01-22  |RZRICVJABR  |5231        |GRGHBKZUJQKOKEO|2017-12-23  |ZQXNBNGYKG  |3712        |
|JMSZWNEWYO |7634       |HDSCITKVZBZUASD|2024-12-25 |LWZKBTYPBK |7654       |OKURSCZLNSTOJAT|2024-10-07 |VBRCEIQTEW |3938       |KTQMVTLDLTVZRSA|2019-12-25  |JOSLHMXESN  |5561        |XUALXESBZMRIGFR|2019-08-22  |RQEJQGUXFN  |4859        |JMCQBJIOIIBUJRT|2022-10-21  |YOLQVZNCON  |1381        |CSESTEMFHTQTZUV|2018-05-29  |MHTXSJUIDX  |5371        |KVBOVFOUNMKBYOB|2018-08-21  |ZZJXQIOYJK  |2472        |HIEAPRZZMAULJXE|2024-01-23  |GFHKCOOILT  |7840        |FDGXEBUUVQCLLQD|2023-08-23  |CWELYAZEMP  |4155        |EUCCOMRDTDUDMPN|2024-04-17  |TFUYCRCWLP  |7130        |XDEOOGYURWSOSDS|2021-04-28  |GASSQLSKKY  |3080        |MAEHYLKOEFJTQSN|2020-02-07  |GHBQZAHGEZ  |7908        |
|MHDNKBFBPZ |4004       |VZBUSMZSYNGWYXN|2018-04-24 |RPGFRHYFGA |6193       |HGIWGYUGJBVOWWB|2017-03-15 |ZMJZHLDSAP |7491       |LRTFLCEJQMCYJLE|2022-03-29  |LASUBDATIG  |8038        |GDRYHVCZNROJVWK|2023-03-13  |MSXIIFWYNK  |1088        |FENDBZFAXAACEKF|2022-01-28  |AUNUYCQQUV  |4069        |SJDJSFLVNBMKCBC|2018-01-08  |NKZKSFGBHF  |842         |GRJGTUKNFAHWXYQ|2020-11-23  |WGCNYAHMOY  |3553        |ZRIWAGPZQQLPWTD|2016-03-18  |UNOOMJQOFL  |9623        |LUNKGTRLJKBWLPN|2021-02-16  |LMQWBZQUMF  |8195        |RSPPSLRSYJBNVWW|2015-08-31  |KIHKWXWFVW  |4662        |XKZTDGYXEOEALRN|2022-01-04  |JFKTNRATQF  |1385        |CKTXGUJMUFNLBVN|2021-06-11  |GEGVTNSPMS  |5136        |
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+

In [7]:
import time

# Start time
start_time = time.time()

# Run the Spark SQL query
spark.sql("SELECT * FROM nyc.taxis_1000_50COLUMNS LIMIT 10").show(truncate=False)

# End time
end_time = time.time()

# Calculate the duration
execution_time = end_time - start_time

# Print the time taken
print(f"Time taken for the operation: {execution_time} seconds")

+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|extra_col_0|extra_col_1|extra_col_2    |extra_col_3|extra_col_4|extra_col_5|extra_col_6    |extra_col_7|extra_col_8|extra_col_9|extra_col_10   |extra_col_11|extra_col_12|extra_col_13|extra_col_14   |extra_col_15|extra_col_16|extra_col_17|extra_col_18   |extra_col_19|extra_col_20|extra_col_21|extra_col_22   |extra_col_23|extra_col_24|extra_col_25|extra_col_26   |extra_col_27|extra_col_28|extra_col_29|extra_col_30   |extra_col_31|extra_col_32|extra_col_33|extra_col_34   |extra_col_35|extra_col_36|extra_col_37|extra_col_38   |extra_col_39|extra_col_40|extra_col_41|extra_col_42   |extra_col_43|extra_col_44|extra_col_45|extra_col_46   |extra_col_47|extra_col_48|extra_col_49|
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+
|CRVJYYFPRY |3405       |VHHGQHQDNMLMIPS|2017-07-08 |EHZCMVTYTR |6011       |PZDNHBTEJHUIFER|2017-03-19 |MPTVSDKRWI |7538       |QSZXRCZQDMMERBV|2017-02-01  |NUWRTQHZVV  |8265        |HYQFXWKEJQGWIIO|2020-07-18  |BDQMDEAWWT  |6151        |FZLOSWRWFGPGJPY|2022-05-03  |JLDHZUWJZF  |7415        |VQPNVOEYZEHPAAO|2015-08-08  |KAKFZOAYII  |1381        |HBGHKXMXOYDDHTP|2020-08-22  |OVLPLOSMES  |5376        |QHMUTENGRMPYXJM|2019-05-15  |SZEVCAXDGQ  |3266        |NBREANDKYAJEQIL|2020-04-12  |ZYBZQERESV  |8834        |OANCJRHRNWTIZCP|2016-10-20  |TUZMJVVYHP  |4471        |XEXDVCTDMUJNSKU|2023-01-23  |TTJFJKQBFA  |8014        |MLZIXNJYRIVRWAI|2019-02-04  |QEABXWFKMP  |2650        |
|ZEVLBWPGQJ |6080       |SUOPKZFESSIWDIK|2024-11-04 |EOEXFTCYQY |1005       |SFLWNPFPESYQWMS|2015-03-16 |TQBNMXCXBG |7449       |WHPUWPNIHFDDZWL|2016-05-21  |OZOHEUGTJJ  |156         |DLIVXKMLTUVTNVB|2017-07-20  |TWZJUTWMCT  |1198        |ARDJCYAOBGABCPQ|2019-06-13  |RFNIRMFACI  |4400        |QMHNATZVXWENFEI|2024-10-19  |YGRMLPRUVU  |7722        |LBJTHRNQUAUXERA|2016-04-05  |OGOQUILPBV  |3728        |YGYPJOMHKCLXCJU|2023-08-19  |MAQBDKWESA  |4934        |RJYNEDEPGGMFNIQ|2019-04-06  |SMADYJNTCL  |9976        |CSXDQLXHSISZZBG|2020-01-13  |ZWPGPLRLLD  |7943        |CZMLTVPUYYFEQNZ|2024-01-05  |UCDGFSACQY  |4087        |YBGGQELRIQJYBCG|2024-06-14  |JSYEADUWSP  |298         |
|ESTOMZIZJS |7655       |XTMQERCZSOJXIEQ|2020-02-26 |PSGSMRGEFC |185        |IKSWPIPJTFRCAPM|2022-01-29 |PIRPFLNTSV |5045       |CSKIFKPNFVMPFAO|2021-03-20  |XVAVGZDMKO  |8084        |CCAKAQWSCTLGUCY|2017-03-03  |BOAZBTOCUF  |6811        |LYHIKSZPZCBRNSJ|2016-07-13  |RVBCOZAMDE  |8822        |PXSKFCLZZQRRTKW|2016-10-05  |FLUCNFNMFE  |2266        |VOWZICJEVPDKMWO|2017-12-06  |USCBGILZUI  |5251        |WLOKHDJWXSZSITE|2015-07-05  |BBGZRONGRG  |8938        |HKTKAXXJIBTCBUE|2017-05-13  |RXTIBGTUNY  |6989        |UNYUUQPBTYEYKMV|2020-01-14  |JVOPTTYSYG  |6315        |CMCDAVDVYBBOMDN|2022-07-17  |DGCGFFSJIS  |4781        |SPXFPARBAZTHRDH|2019-10-07  |QKXERJXMAU  |1327        |
|MNEFJUDFRU |2319       |UABZVIIKRDPBEVB|2016-01-08 |JFUPERNUAD |817        |NGPPXDHEIDNZYEP|2023-07-25 |KSRLXACVJP |772        |MRMSLMPOQDSIREV|2017-05-28  |SPIGXYAMKO  |5005        |NWBCYYFPVKRDRYU|2019-07-24  |HSSVEINPMN  |4513        |VXGXXQHCUXZMRUI|2016-09-22  |NXLMRFXRVJ  |2489        |BGHMBRUEHQVNTPE|2021-07-08  |INHDTTUATX  |1271        |EORXHVEAEPWNFJH|2018-12-21  |HSIYBSXWRW  |1519        |FDTAFBHYHOVCLFQ|2020-02-03  |AOWWWMDZEV  |5531        |ATEVUXMXPRZEOVE|2022-05-10  |PHALBHWQZD  |8957        |KCZYBAVQDYAHEKZ|2024-11-12  |YZLBICSNBH  |1813        |HCGNFIGJTDRHTUU|2022-02-16  |XMPTHRPGPA  |9616        |XAIFPRUHIZFHREA|2017-12-31  |YEPNWISIUC  |290         |
|QZICPJYGYS |3172       |FPVZIQDURFYAICG|2020-02-27 |LAGCOCZDZU |8085       |HCUWSFXFQEWTJYT|2018-11-04 |QBWHBOIZDO |6572       |JFHHLULQOYJGMIU|2019-04-29  |AIIUFEQUEO  |5838        |LBZCFDANBFLWNDB|2019-10-25  |XDNVCSJTDS  |9865        |YMOIJBPFAYOPUYV|2019-08-31  |NIRBVUZUQM  |6312        |QWENGXAZEFBBACL|2024-06-06  |CTGOHEJXZF  |3457        |VSBJZIYPROBEWIQ|2020-06-26  |PKMSUTCONU  |212         |VFXKMFQXWOVOGQS|2018-07-12  |FQUNKMRBVA  |905         |HMQNZPGRTGHGXCK|2016-09-30  |BDLXUVNNLJ  |8503        |BPYOHSTVOMNBQWC|2016-05-15  |WLJYUCDGIM  |8852        |ANSVCKXHNNGGSSJ|2016-03-07  |LMKCPGIIHE  |9367        |HRPWFVKLDAWWZBN|2018-09-18  |DQQAYCSOKN  |8600        |
|SEATAXWGIO |1762       |HNMMWGBNTWTNKRA|2023-07-31 |XIRJAIOAGJ |6748       |WRBEBOGRSNZFNJL|2020-12-10 |ZFRZGXUZZX |8322       |DAOGZISJPCXNSKV|2018-02-26  |MKKGLUXUJC  |3882        |CGYYIMXXEWEIFKN|2019-03-11  |GVPQYWZGTR  |9203        |BZROEMGIPGBCULU|2015-09-19  |NSNJKTCQSH  |8950        |DBTWMXPVLXYGVEZ|2020-09-20  |UXBJIXFULV  |8805        |WDGAGNBYNGKOCDX|2022-12-26  |KPRFZBHBQS  |3396        |ORIBSCCFSHCAICW|2016-05-21  |LAUHNGPNWY  |8719        |PHVIUTIWQEPIQWQ|2023-10-17  |UZQMOAQTZO  |4728        |MOIPFSBXOOXBUEW|2020-10-13  |ZBZBJVYZQK  |135         |KHLWROGDACAPYQB|2019-05-27  |STCLPYXYMQ  |7427        |RXRUEEBUNRFIGZR|2023-04-29  |TUGKKSLEWY  |7473        |
|FDQKGJNHQV |8611       |AODVESKGNLHNBII|2016-12-09 |RETPGRVXGA |7994       |DPCEHFUHPCOZRXA|2023-03-04 |GLMGEZZQSQ |3614       |YLCBYGMRAYLKXPI|2019-03-06  |UVBJFWHQIO  |5241        |BNAPFATSKQFCZKG|2025-02-19  |GOQLRKBIFI  |7388        |GBXVNUKEDOQWJXX|2024-10-10  |YCPKSGOCBR  |4584        |IEMECLIZLLAGONB|2015-08-19  |QXOHYPCJWP  |6027        |OPBDPKJXCRMKAHQ|2019-05-29  |PAZYCHQXEX  |1211        |KJMUGOXASXNLDYL|2023-09-24  |BATYVQTGSX  |6250        |VKACEMAVWEVRCXZ|2023-01-21  |PDRFWXHSWD  |8260        |UAGBNDPWJFPKITG|2024-07-23  |DLSMKPLEHS  |5960        |DKWZNLYUFYHHBBI|2020-09-08  |GDMHOSTFEC  |8409        |YFJDUQGBIWVTZZU|2023-02-05  |GXCFDICRJI  |9023        |
|SHYLFLCXUN |8691       |PVLUCIJDGGIPZLH|2017-07-30 |GUYGMFXXYP |7327       |LQSBBIOVZHJTRIN|2024-11-22 |GMDNJYPOMJ |4050       |GEUNUOCBUWHQANT|2023-09-29  |NQCZUFPHWU  |815         |UVETRMLFAHPWYDS|2021-11-20  |PEYCTFQNTC  |9721        |BFDEYOIYUUOWRWW|2017-06-19  |PRKUVPMQGU  |7763        |QCVDTSYQNYLPVHO|2017-05-26  |FGZHPXEPDK  |842         |HEFFDQNFKBENAML|2020-07-07  |CXZMGKEVUK  |9926        |OZKZKMFWMFTMTWC|2020-09-12  |FHGKEZDGXQ  |4744        |HADFVZSCYJUISJM|2021-03-10  |YIMYULDZKX  |812         |EYJERBUZFOUMRMY|2015-08-27  |RMSEHMNKXK  |6121        |MKNSZABMOLBCQYO|2022-01-22  |RZRICVJABR  |5231        |GRGHBKZUJQKOKEO|2017-12-23  |ZQXNBNGYKG  |3712        |
|JMSZWNEWYO |7634       |HDSCITKVZBZUASD|2024-12-25 |LWZKBTYPBK |7654       |OKURSCZLNSTOJAT|2024-10-07 |VBRCEIQTEW |3938       |KTQMVTLDLTVZRSA|2019-12-25  |JOSLHMXESN  |5561        |XUALXESBZMRIGFR|2019-08-22  |RQEJQGUXFN  |4859        |JMCQBJIOIIBUJRT|2022-10-21  |YOLQVZNCON  |1381        |CSESTEMFHTQTZUV|2018-05-29  |MHTXSJUIDX  |5371        |KVBOVFOUNMKBYOB|2018-08-21  |ZZJXQIOYJK  |2472        |HIEAPRZZMAULJXE|2024-01-23  |GFHKCOOILT  |7840        |FDGXEBUUVQCLLQD|2023-08-23  |CWELYAZEMP  |4155        |EUCCOMRDTDUDMPN|2024-04-17  |TFUYCRCWLP  |7130        |XDEOOGYURWSOSDS|2021-04-28  |GASSQLSKKY  |3080        |MAEHYLKOEFJTQSN|2020-02-07  |GHBQZAHGEZ  |7908        |
|MHDNKBFBPZ |4004       |VZBUSMZSYNGWYXN|2018-04-24 |RPGFRHYFGA |6193       |HGIWGYUGJBVOWWB|2017-03-15 |ZMJZHLDSAP |7491       |LRTFLCEJQMCYJLE|2022-03-29  |LASUBDATIG  |8038        |GDRYHVCZNROJVWK|2023-03-13  |MSXIIFWYNK  |1088        |FENDBZFAXAACEKF|2022-01-28  |AUNUYCQQUV  |4069        |SJDJSFLVNBMKCBC|2018-01-08  |NKZKSFGBHF  |842         |GRJGTUKNFAHWXYQ|2020-11-23  |WGCNYAHMOY  |3553        |ZRIWAGPZQQLPWTD|2016-03-18  |UNOOMJQOFL  |9623        |LUNKGTRLJKBWLPN|2021-02-16  |LMQWBZQUMF  |8195        |RSPPSLRSYJBNVWW|2015-08-31  |KIHKWXWFVW  |4662        |XKZTDGYXEOEALRN|2022-01-04  |JFKTNRATQF  |1385        |CKTXGUJMUFNLBVN|2021-06-11  |GEGVTNSPMS  |5136        |
+-----------+-----------+---------------+-----------+-----------+-----------+---------------+-----------+-----------+-----------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+---------------+------------+------------+------------+

Time taken for the operation: 0.5980069637298584 seconds

In [8]:
import time

# Start time
start_time = time.time()

# Query to get the first (start) and last (end) dates
query = """
SELECT MIN(extra_col_3) AS start_date, MAX(extra_col_3) AS end_date
FROM nyc.taxis_1000_50COLUMNS
"""

# Execute the query
result = spark.sql(query)

# Show the result
result.show(truncate=False)

# End time
end_time = time.time()

# Calculate the duration
execution_time = end_time - start_time

# Print the time taken
print(f"Time taken for the operation: {execution_time} seconds")

+----------+----------+
|start_date|end_date  |
+----------+----------+
|2015-03-09|2025-02-22|
+----------+----------+

Time taken for the operation: 1.1512253284454346 seconds

In [8]:
from pyspark.sql import SparkSession
import random
from datetime import datetime, timedelta
from pyspark.sql.functions import col, expr

# Initialize Spark session
spark = SparkSession.builder.appName("urecords").enableHiveSupport().getOrCreate()

# Define your table name
table_name = "demo.nyc.taxis_1000_50COLUMNS"  # Change this to your actual table

# Step 1: Get total records
total_records = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]
print(f"Total records: {total_records}")

# Step 2: Percentage input
percentage = float(input("Enter percentage of records to update: "))

# Step 3: Calculate records to update
num_records_to_update = max(1, int((percentage / 100) * total_records))
print(f"Updating {num_records_to_update} random records.")

# Step 4: Select random records
random_records_query = f"""
SELECT extra_col_0 FROM (
    SELECT extra_col_0, ROW_NUMBER() OVER (ORDER BY RAND()) as row_num
    FROM {table_name}
) WHERE row_num <= {num_records_to_update}
"""
random_records = spark.sql(random_records_query).collect()

# Step 5: Function to generate random values with correct data types
def generate_random_value(data_type):
    """Generate a random value based on the column's data type"""
    data_type = data_type.lower()  # Convert to lowercase for comparison

    if "int" in data_type or "bigint" in data_type or "smallint" in data_type:
        return str(random.randint(1, 10000))  # Return as a number, no quotes
    elif "string" in data_type or "varchar" in data_type or "char" in data_type:
        return f"'Random_{random.randint(100, 999)}'"  # String needs quotes
    elif "date" in data_type:
        return f"DATE('{(datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')}')"  # Ensure DATE format
    elif "timestamp" in data_type:
        return f"TIMESTAMP('{(datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d %H:%M:%S')}')"  # Timestamp format
    elif "double" in data_type or "float" in data_type or "decimal" in data_type:
        return str(round(random.uniform(1.0, 100.0), 2))  # Decimal values
    else:
        return "NULL"

# Step 6: Get table schema
schema_df = spark.sql(f"DESCRIBE {table_name}")
columns = {row["col_name"]: row["data_type"] for row in schema_df.collect() if not row["col_name"].startswith("#")}

# Step 7: Execute updates for each random record
for record in random_records:
    record_id = record["extra_col_0"]  # Assuming extra_col_0 is the primary key
    update_statements = []

    for col_name, col_type in columns.items():
        if col_name == "extra_col_0":  # Skip primary key column
            continue
        new_value = generate_random_value(col_type)
        update_statements.append(f"{col_name} = {new_value}")  # Ensure proper formatting

    update_query = f"UPDATE {table_name} SET {', '.join(update_statements)} WHERE extra_col_0 = '{record_id}'"

    try:
        spark.sql(update_query)
    except Exception as e:
        print(f"⚠️ Error updating record {record_id}: {str(e)}")

print(f"✅ Successfully updated {num_records_to_update} random records!")

25/02/25 18:52:47 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Total records: 1000

Enter percentage of records to update:  1

Updating 10 random records.

25/02/25 18:52:50 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/02/25 18:52:50 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/02/25 18:52:50 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/02/25 18:52:50 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

✅ Successfully updated 10 random records!

In [9]:
from pyspark.sql import SparkSession
import random
import time
from datetime import datetime, timedelta
from pyspark.sql.functions import col, expr

# Initialize Spark session
spark = SparkSession.builder.appName("update_random_records").enableHiveSupport().getOrCreate()

# Define your table name
table_name = "demo.nyc.taxis_1000_50COLUMNS"  # Change this to your actual table

# Step 1: Get total records before update
start_time = time.time()
total_records_before = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]
print(f"Total records before update: {total_records_before}")

# Step 2: Percentage input
percentage = float(input("Enter percentage of records to update: "))

# Step 3: Calculate records to update
num_records_to_update = max(1, int((percentage / 100) * total_records_before))
print(f"Updating {num_records_to_update} random records.")

# Step 4: Select random records
random_records_query = f"""
SELECT extra_col_0 FROM (
    SELECT extra_col_0, ROW_NUMBER() OVER (ORDER BY RAND()) as row_num
    FROM {table_name}
) WHERE row_num <= {num_records_to_update}
"""
random_records = spark.sql(random_records_query).collect()

# Step 5: Function to generate random values with correct data types
def generate_random_value(data_type):
    """Generate a random value based on the column's data type"""
    data_type = data_type.lower()

    if "int" in data_type or "bigint" in data_type or "smallint" in data_type:
        return str(random.randint(1, 10000))  # Return as a number, no quotes
    elif "string" in data_type or "varchar" in data_type or "char" in data_type:
        return f"'Random_{random.randint(100, 999)}'"  # String needs quotes
    elif "date" in data_type:
        return f"DATE('{(datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')}')"
    elif "timestamp" in data_type:
        return f"TIMESTAMP('{(datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d %H:%M:%S')}')"
    elif "double" in data_type or "float" in data_type or "decimal" in data_type:
        return str(round(random.uniform(1.0, 100.0), 2))
    else:
        return "NULL"

# Step 6: Get table schema
schema_df = spark.sql(f"DESCRIBE {table_name}")
columns = {row["col_name"]: row["data_type"] for row in schema_df.collect() if not row["col_name"].startswith("#")}

# Step 7: Execute updates for each random record
for record in random_records:
    record_id = record["extra_col_0"]  # Assuming extra_col_0 is the primary key
    update_statements = []

    for col_name, col_type in columns.items():
        if col_name == "extra_col_0":  # Skip primary key column
            continue
        new_value = generate_random_value(col_type)
        update_statements.append(f"{col_name} = {new_value}")

    update_query = f"UPDATE {table_name} SET {', '.join(update_statements)} WHERE extra_col_0 = '{record_id}'"

    try:
        spark.sql(update_query)
    except Exception as e:
        print(f"⚠️ Error updating record {record_id}: {str(e)}")

# Step 8: Get total records after update
total_records_after = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]
print(f"Total records after update: {total_records_after}")

# Step 9: Print total time taken
end_time = time.time()
time_taken = round(end_time - start_time, 2)
print(f"✅ Successfully updated {num_records_to_update} random records!")
print(f"⏳ Total time taken: {time_taken} seconds.")

25/02/25 18:54:36 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Total records before update: 1000

Enter percentage of records to update:  1

Updating 10 random records.

25/02/25 18:54:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/02/25 18:54:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/02/25 18:54:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

Total records after update: 1000
✅ Successfully updated 10 random records!
⏳ Total time taken: 16.9 seconds.

In [11]:
from pyspark.sql import SparkSession
import random
from datetime import datetime, timedelta
import time

# Initialize Spark session
spark = SparkSession.builder.appName("records").enableHiveSupport().getOrCreate()

# Define table name
table_name = "demo.nyc.taxis_1000_50COLUMNS"  # Change this to your actual table

# Step 1: Get total records before update
start_time = time.time()
total_records_before = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]
print(f"Total records before update: {total_records_before}")

# Step 2: Ask user input for update percentage
update_percentage = float(input("Enter percentage of records to update & insert: "))

# Step 3: Calculate records to update & insert (same count)
num_records = max(1, int((update_percentage / 100) * total_records_before))

print(f"Updating {num_records} random records.")
print(f"Inserting {num_records} new records.")

# Step 4: Select random records for update
random_records_query = f"""
SELECT extra_col_0 FROM (
    SELECT extra_col_0, ROW_NUMBER() OVER (ORDER BY RAND()) as row_num
    FROM {table_name}
) WHERE row_num <= {num_records}
"""
random_records = spark.sql(random_records_query).collect()

# Step 5: Function to generate random values with correct data types
def generate_random_value(data_type):
    if "int" in data_type:
        return str(random.randint(1, 10000))  # INT values
    elif "string" in data_type:
        return f"'Random_{random.randint(100, 999)}'"  # STRING values
    elif "date" in data_type:
        return f"CAST('{(datetime.today() - timedelta(days=random.randint(0, 365))).strftime('%Y-%m-%d')}' AS DATE)"  # DATE values
    else:
        return "NULL"

# Step 6: Get table schema
schema_df = spark.sql(f"DESCRIBE {table_name}")
schema_dict = {row["col_name"]: row["data_type"] for row in schema_df.collect() if not row["col_name"].startswith("#")}
columns = list(schema_dict.keys())

# Step 7: Execute updates for each random record
for record in random_records:
    record_id = record["extra_col_0"]  # Assuming extra_col_0 is the primary key
    update_statements = []

    for col_name in columns:
        if col_name == "extra_col_0":  # Skip primary key column
            continue
        col_type = schema_dict[col_name]
        new_value = generate_random_value(col_type)
        update_statements.append(f"{col_name} = {new_value}")

    update_query = f"UPDATE {table_name} SET {', '.join(update_statements)} WHERE extra_col_0 = '{record_id}'"
    spark.sql(update_query)

# Step 8: Insert new records (same count as updates)
insert_values = []
for _ in range(num_records):
    values = []
    for col_name in columns:
        col_type = schema_dict[col_name]
        values.append(generate_random_value(col_type))
    insert_values.append(f"({', '.join(values)})")

insert_query = f"INSERT INTO {table_name} VALUES {', '.join(insert_values)}"
spark.sql(insert_query)

# Step 9: Get total records after update
total_records_after = spark.sql(f"SELECT COUNT(*) FROM {table_name}").collect()[0][0]

# Step 10: Print final output
end_time = time.time()
print(f"Total records after update: {total_records_after}")
print(f"✅ Successfully updated {num_records} records & inserted {num_records} new records!")
print(f"⏳ Total time taken: {round(end_time - start_time, 2)} seconds.")

Total records before update: 1000

Enter percentage of records to update & insert:  1

Updating 10 random records.
Inserting 10 new records.

25/02/25 19:00:37 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/02/25 19:00:37 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
25/02/25 19:00:37 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

Total records after update: 1010
✅ Successfully updated 10 records & inserted 10 new records!
⏳ Total time taken: 14.71 seconds.