In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("records").getOrCreate()

25/02/24 18:18:54 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [5]:
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|      nyc|
+---------+

In [6]:
spark.sql("USE nyc")
spark.sql("SHOW TABLES").show()

+---------+--------------------+-----------+
|namespace|           tableName|isTemporary|
+---------+--------------------+-----------+
|      nyc|           taxis_100|      false|
|      nyc|            taxis_1B|      false|
|      nyc|  taxis_10_50COLUMNS|      false|
|      nyc| taxis_100_50COLUMNS|      false|
|      nyc|            taxis_1L|      false|
|      nyc|          taxis_1000|      false|
|      nyc|            taxis_10|      false|
|      nyc|taxis_1000_50COLUMNS|      false|
|      nyc|taxis_10000_50COL...|      false|
|      nyc|taxis_100000_50CO...|      false|
|      nyc|  taxis_1M_50COLUMNS|      false|
|      nyc|         taxis_10000|      false|
|      nyc|            taxis_1M|      false|
|      nyc| taxis_10M_50COLUMNS|      false|
+---------+--------------------+-----------+